[2022-02-19 19:26] jimaek opened #2 "Block malware IPs and domains"
Lets also integrate anti-abuse logic. To stop people using probes to connect to malicious IPs and domains.
Any request to a banned domain should be stopped by the API before even getting to any probe.
Lists I propose using:
- IP list https://osint.digitalside.it/Threat-Intel/lists/latestips.txthttps://github.com/firehol/blocklist-ipsets and IP list 2 https://github.com/stamparm/ipsum with example

[2022-02-19 19:29] jimaek opened #3 "MVP"
- API + websocket server
- probe agent
- Resolve location endpoint for magic like "Ping from 10 locations in Eastern Europe"
- Real-time results
- Endpoint to build a map of active probes
- Auto-updates within a docker container. Assume the user will never pull a new Docker container
- Auto-scaling of tests per probe. A small raspberry pi should not be getting the same amount of tests as an 8 core

[2022-03-02 13:17] jimaek opened #6 "Commands and parameters to support"
The user facing parameters. On the backend we will need to set our own stuff.

**ping**
- packets {6} - The number of packets to send. max 16. Default is 3 (optional)
- quick {true} - boolean,  a special fast test that returns a single value in ms per location, instead of full ping output. Default false (optional)

**traceroute**
- protocol {TCP} - Traceroute protocol. ICMP|TCP|UDP. Default is UDP

[2022-03-06 12:22] jimaek opened #7 "Launch TODO"
- Need a CLI tool.
- jsdelivr.com/globalping landing page. Description, probes map and stats, how to contribute, how to use, small demo
- Logo
- Banner for Github readme and social
- Full Documentation on Github
- Grafana with stats
- Remove debug info from the API

[2022-03-14 19:40] zarianec opened #9 "Probes selection rules"
Current measurement request payload:

[code]

Global limit and per-location limit are mutually exclusive - it means that if the global limit is present in the request, the per-location limit is not allowed and vice-versa.

Because we are not limited by a single location type per request - the resulting probes set must contain unique records only.

[code]

## Case 1. With locations and limit per lo

[2022-03-14 19:53] zarianec opened #10 "Custom regions as locations for probes"
Alongside well-known geographical location types like country, continent, city, we must also support custom regions for better and simpler routing.

These regions should be defined as a group of countries. Request validation must be tweaked to allow only predefined regions.
Probes routing (#9 ) should support it as well.

Proposed regions are:

| name |
| :--- |
| Caribbean |
| Southern Asia |
| M

[2022-03-14 20:10] jimaek opened #11 "Dont process reserved and private IPs"
Dont even try to resolve them with maxmind, just check and return an error immediatly https://en.wikipedia.org/wiki/Reserved_IP_addresses

[2022-03-14 20:39] zarianec opened #12 "Add US states as a separate location type."
Hm, just like the title says - we need US states as locations.

[2022-03-15 10:15] #11 closed, assigned to patrykcieszkowski

[2022-03-15 12:12] zarianec opened #17 "Add probes listing endpoint"
We need an endpoint that will list all connected and available probes to build a map on a website. Probably it will be a list of `probe.location` objects since we don't have other probes information that should be shared publically.

Geographical coordinates are required there to place a marker on a map. MaxMind provides location information for IP addresses so it must be added to the probes as we

[2022-03-15 15:52] jimaek opened #18 "API Documentation"
Plan so far: Use .md to document the API in this repo. Once ready add the link to the API too https://github.com/jsdelivr/globalping/issues/23

[2022-03-15 16:31] #10 closed, assigned to zarianec

[2022-03-15 16:31] #12 closed, assigned to zarianec

[2022-03-15 20:05] jimaek opened #19 "Add geoip fallback"
When MaxMind fails to resolve a parameter attempt to use a fallback service. Need to decide what to use, an option is Fastly for free https://globalping-geoip.global.ssl.fastly.net/

They use https://www.digitalelement.com/ which sounds pretty serious and reliable

[2022-03-16 19:02] jimaek opened #21 "Consider banning VPNs"
How about we also block probes from connecting that have `proxy_description=vpn and tor-*` plus maybe `proxy_type=anonymous,aol,blackberry,corporate,`?
https://developer.fastly.com/reference/vcl/variables/geolocation/client-geo-proxy-description/
https://developer.fastly.com/reference/vcl/variables/geolocation/client-geo-proxy-type/

hosting example https://globalping-geoip.global.ssl.fastly.net/1

[2022-03-16 20:38] #17 closed, assigned to patrykcieszkowski

[2022-03-17 20:17] jimaek opened #23 "Prod API domain - Root / must show where to find docs"
What should we use in prod?

1. api.globalping.io (in this case root would just redirect to jsdelivr.com/globalping)
2. globalping.jsdelivr.com
3. other?

@zarianec @patrykcieszkowski please vote/comment

[2022-03-17 20:35] zarianec opened #24 "Add CORS headers"
API will be used in browsers directly so we must enable CORS.
see https://www.npmjs.com/package/@koa/cors

[2022-03-17 20:37] zarianec opened #25 "Add rate limits on API"
`POST /v1/measurements` must accept no more than 100 requests per minute

Make sure to write the exit the limit event to logs and report to appSignal so we can see it.

[2022-03-17 20:39] zarianec opened #26 "Add metric to appsignal"
1. connected probes count
2. total measurements per minute
3. measurements per type per minute
4. total results count in Redis (?)
5. measurement time per type (not sure that app signal supports that)

[2022-03-18 09:25] zarianec opened #27 "Limit probes per ip"
Limit to 1 connection per IP address from probes. Don't allow a user to start 200 containers on his PC and DDOS us.

[2022-03-18 10:19] #19 closed, assigned to zarianec

[2022-03-18 11:16] zarianec opened #29 "API errors response format"
We must unify the error response format for the API.

I suggest something similar to Stripe error formats:

[code]
For validation errors, we also need to provide a list of failed fields with a description:

[code]

[2022-03-18 14:24] zarianec opened #31 "Dns command support"
Add support for DNS command on the API side.
For the probe implementations - see https://github.com/jsdelivr/globalping-probe/pull/6

[2022-03-20 12:45] #31 closed, assigned to patrykcieszkowski

[2022-03-21 09:15] jimaek opened #37 "Benchmark probes / auto-scale tests per probe"
A small raspberry pi should not be getting the same amount of tests as an 8 core intel server.
Maybe run a local benchmark during startup or something? Because an 8 core Atom is not the same as an 8 core Xeon either

@patrykcieszkowski We didn't come up with anything concrete yet. Artem planned to do some manual benchmarks and see if he can come up with usable data to then integrate into the code.

[2022-03-21 14:15] jimaek opened #39 "Probe clustering - use all available cores"
Yes, I wanted to use `throng` for clustering but it means that every single probe will create multiple separate ws clients.

_Originally posted by @zarianec in https://github.com/jsdelivr/globalping/issues/37#issuecomment-1073936379_

[2022-03-21 14:26] #39 closed, assigned to nobody

[2022-03-21 15:46] #21 closed, assigned to patrykcieszkowski

[2022-03-21 15:54] #24 closed, assigned to patrykcieszkowski

[2022-03-21 15:54] #25 closed, assigned to patrykcieszkowski

[2022-03-21 16:16] zarianec opened #40 "Consider combining "world" location with other location types"
In some cases, it may be useful to combine "world" type location with other location types:

[code]

This will require:
1. adding a new "virtual" location "world"
2. add a validation rule to filter multiple "world" locations in the request
3. think about how to combine different probe selection strategies

[2022-03-21 16:17] jimaek opened #41 "UI demo"
We need a simple UI demo for easier testing of the API. It can be as simple as an HTML file with a bunch of inputs for everything that our API supports which will also show the results in real-time by requesting the measurement ID every 500ms.

Output the raw output with original formatting as main output with all the additional metadata included below

[2022-03-21 16:27] zarianec opened #42 "Add probe version to the list of probes"
Add a probe version information [here](https://api.globalping.io/v1/probes).

This requires modification to the probe as well that can be tracked here
- https://github.com/jsdelivr/globalping-probe/issues/11

[2022-03-21 16:29] patrykcieszkowski opened #43 "forward error messages to the probe client"
- refactor WS error handling system
- emit message on #27 ip limit reach error
- emit message on #21 VPN detection error

[2022-03-21 18:35] #9 closed, assigned to zarianec

[2022-03-22 10:35] #27 closed, assigned to patrykcieszkowski

[2022-03-23 11:59] #26 closed, assigned to patrykcieszkowski

[2022-03-23 20:12] #29 closed, assigned to zarianec

[2022-03-25 18:49] jimaek opened #51 "Resolve location endpoint"
Resolve location endpoint for magic like "Ping from 10 locations in Eastern Europe".
Its needed for easier development of web and cli tools.

It should also support partial names like "frankfurt" when in reality the probes are at "frankfurt am main" or "amazon" when full is "amazon.com inc"

Example inputs:
- Africa
- AS80085
- Germany
- Athens
- Frankfurt
- Western Europe
- Asia
- USA
- PL
- EU
-

[2022-03-25 19:22] #6 closed, assigned to nobody

[2022-03-25 19:30] jimaek opened #52 "Exponential backoff for probes"
Exponential backoff associated with failing tests. Need to make sure that probes with poor results are not ruining the tests. The goal is to prevent dial-up users from breaking the service.
Probably need to also log probes in "backing-off" state to make sure we dont lose half our network due to a bug in this system.

[2022-03-25 19:30] #3 closed, assigned to nobody

[2022-03-25 21:11] jimaek opened #53 "Limit of measurements"
Right now we have a simple anti-abuse system that simply rate-limits the amount of POST requests we accept per IP. Thats fine but its only an anti-abuse system.

We also need an extensive system to allow us to limit the amount of actual tests a user can run. e.g. I want to set 200 tests limit per hour per IP address with no authentication.
In theory that IP can now run either 1 measurement with li

[2022-03-29 14:54] jimaek opened #55 "Get preview URLs working"
Currently API previews dont work

[code]

1. Do we need them? @zarianec @patrykcieszkowski
2. If we do then lets fix them. First we need to enable the free redis instances on each preview app and then use the `REDIS_TLS_URL`, `REDIS_URL` vars it sets automatically.

[2022-03-29 16:33] jimaek opened #57 "Real-time results are in random order"
Run a few tests like a traceroute to a far away location  like 141.164.34.61

The raw output will flash random lines. Like first line 8 of the traceroute, then line 14, then nothing, then 2 random lines and then the full output. It must emulate the way it appears in the command line, one line after the other

[2022-03-29 16:35] jimaek opened #58 "ping has no raw output"
Ping has the same issue as #57 but at the end it doesnt even return the output, e.g.

[code]

[2022-03-29 16:37] jimaek opened #59 "Validate IPs and hostnames"
It seems we try to ping IPs like `800.800.80.80` and we just get a measurement stuck in `in-progress`.
Same for hostnames like `dfdf`

Validate IPs and hostnames to make sure they are valid

[2022-03-29 18:03] #43 closed, assigned to patrykcieszkowski

[2022-03-29 18:03] #42 closed, assigned to patrykcieszkowski

[2022-03-30 11:18] #41 closed, assigned to patrykcieszkowski

[2022-03-30 16:09] jimaek opened #61 "Need to understand failed tests"
e.g. If I ping something random the hostname won't get resolved and I will get this error
[code]

But our API will keep running for 30 seconds until it times out and returns
[code]

I think it will be a major problem for our users. e.g. a user using our web tools or even CLI will get blocked for 30 seconds while he waits for a problematic test to finish.

We need a way to understand when tests fai

[2022-03-30 16:27] jimaek opened #62 "DNS needs performance metadata"
One of the key use-cases of the dns command is benchmarking the performance of resolvers and dns servers.
So every dns command should have a "querytime" parameter that says how long the query actually took.
dig already returns that value by default.

Unrelated but we should also include the "server" parameter of dig as well. Its important to understand what resolver was used for the query.

[code]

[2022-03-31 18:58] #58 closed, assigned to nobody

[2022-03-31 18:58] #61 closed, assigned to nobody

[2022-03-31 19:32] #55 closed, assigned to nobody

[2022-03-31 19:32] jimaek opened #65 "Dont accept probes that dont report a version"

[2022-03-31 20:57] #62 closed, assigned to nobody

[2022-04-01 14:15] jimaek opened #66 "DNS tests inside docker are wrong"
Check this video https://dl.dropboxusercontent.com/s/ebuatjli404csd7/chrome_OXy6yz7yq5.mp4

note the time parameter

manual is: 5,6,1,13...
api is: 0,0,10,0,10...

After testing it turns running the same dig command inside the docker container produces those weird results. Need to understand why dig inside Docker is stupid

[2022-04-02 14:12] jimaek opened #67 "Probe fails to connect"
[code]

Not sure why it fails since both of our APIs have geo IP data.

[code]

https://globalping-geoip.global.ssl.fastly.net/139.99.172.23

[2022-04-03 14:34] jimaek opened #69 "IP Geo v2"
Even with 3 IP data sources I get lots of wrong locations with datacenter IPs. And now while I control all of them I can either remove the wrong probes completely or make a request to maxmind and ipinfo to update their data.
But soon we will have 0 control over them and if we detect an Australian IP as American it will end up heavily influencing the results with people not understanding why their

[2022-04-03 16:45] jimaek opened #70 "Support ISP as metadata"
We already have this info as part of https://globalping-geoip.global.ssl.fastly.net/

[code]

So why not use it. I suggest we start collecting this data from all probes and exposing in our API.
And make it part of POST for measurements too to all users to do limit their tests to certain providers.

Example use-case: I want to understand my performance from AWS to my CDN. Or to choose which Hetzner

[2022-04-03 19:21] #57 closed, assigned to nobody

[2022-04-04 14:17] jimaek opened #72 "US State missing"
[0.2.3] mcallen (undefined), US, NA, 20473

https://globalping-geoip.global.ssl.fastly.net/216.238.82.66
https://ipinfo.io/216.238.82.66

Our logic is that if the 2 Fastly DBs are not unanimous then we fall back to ipinfo. So in that case that probe should have Texas as state. But at the moment its missing.

I think when we fallback to ipinfo we try to use MaxMind's State value? Which obviously is

[2022-04-04 16:22] #65 closed, assigned to patrykcieszkowski

[2022-04-04 16:22] #72 closed, assigned to patrykcieszkowski

[2022-04-04 16:23] #67 closed, assigned to patrykcieszkowski

[2022-04-04 17:10] #66 closed, assigned to jimaek

[2022-04-04 17:54] patrykcieszkowski opened #75 "set traceroute's default protocol to ICMP"

[2022-04-05 09:44] #75 closed, assigned to patrykcieszkowski

[2022-04-05 17:58] appsignal opened #77 "SyntaxError happened in POST [unknown route]"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/jsdelivr/sites/6230aa4683eb670b2c24f6e9/exceptions/incidents/10?timestamp=2022-04-05T17:57:27Z

[2022-04-06 15:26] #77 closed, assigned to nobody

[2022-04-06 17:58] jimaek opened #82 "GitHub bot"
- MVP Done. Only countries work
- Needs the resolve endpoint to make it understand all locations

[2022-04-06 20:12] jimaek opened #83 "Slack App/Bot"
MVP done, rest is in progress

[2022-04-08 12:11] #59 closed, assigned to patrykcieszkowski

[2022-04-08 14:04] patrykcieszkowski opened #85 "Make Joi error responses more descriptive"
[code]

[2022-04-08 14:28] #70 closed, assigned to patrykcieszkowski

[2022-04-09 18:11] jimaek opened #86 "Probe geo mixed city and country"
We have a probe in Spain, Madrid but the API has mixed the data, it says Madrid USA:

[code]

These 2 DBs have wrong data and different cities https://globalping-geoip.global.ssl.fastly.net/208.85.17.142
By our GeoIP logic that means we should fallback to data by ipinfo https://ipinfo.io/208.85.17.142

But it looks like we falled back only for city and kept the rest from a different DB. We can't m

[2022-04-11 17:41] jimaek opened #89 "No location tests are stuck"
When I run ping tests without setting a location e.g.

[code]

the response always comes from 1 specific probe. In this case its always Johannesburg

[code]

We had a logic with weights and priorities and the probe should be selected at random based on those weights

[2022-04-13 16:43] #2 closed, assigned to patrykcieszkowski

[2022-04-13 18:07] jimaek opened #91 "http command"
We need a new http type of measurement. Probably use https://github.com/sindresorhus/got. It supports everything except HTTP3 but its coming soon. The URL must be manually built from the parameters.

**http**
- method {HEAD} - The type of request to make. GET or HEAD. Default is HEAD (optional)
- path {/path/somewhere.jpg} - the path part that we will add to "target" to build the URL. Must support

[2022-04-14 17:31] jimaek opened #93 "Prevent all LAN access"
This PR is a nice start to filter out the basic stuff https://github.com/jsdelivr/globalping/pull/92

But its still simple to get the probes to target LAN endpoints. Simply create a DNS record `test.domain.com A 192.168.1.1` and ask the probe to ping test.domain.com, it will resolve to a local IP and return results of the LAN test. This will be especially problematic with HTTP.

We need a way to p

[2022-04-18 11:37] jimaek opened #94 "Probe IDs"
How about we expose each probe's unique ID and make the test quarable by the ID?
Example use-case:
I want to run a test from Amazon probe located in Canada. There is no way to set 2 filters at the moment, like country:canada + asn:amazon to run a test only on that specific probe.
But if we had IDs then the user could use /probes to filter as much as he wants and then simply use the IDs he needs

[2022-04-19 14:45] jimaek opened #95 "Graceful API shutdown"
https://devcenter.heroku.com/articles/dynos#automatic-dyno-restarts

Need to make sure there is no downtime or lost tests when Heroku reboots the Dynos.

Note that we have 2 Dynos for the API for high availability.

[2022-04-21 11:59] #18 closed, assigned to patrykcieszkowski

[2022-04-21 11:59] #23 closed, assigned to patrykcieszkowski

[2022-04-24 20:03] jimaek opened #100 "DNS doesnt support subdomains"
All valid subdomains must be supported

[2022-04-25 15:00] #100 closed, assigned to patrykcieszkowski

[2022-04-26 11:29] #86 closed, assigned to patrykcieszkowski

[2022-04-26 11:33] jimaek opened #103 "Add MaxMind separately"
Unfortunately Fastly is removing MaxMind so our nice little service will now only have 1 provider. And that provider sucks most of the time.

- So first step is to add MaxMind separately. I think it was already done originally, so you can probably recover the code. Use the City API, it's cheaper than Insights and has everything we need. PM me for the API key.
- Stop reading the maxmind fields from

[2022-04-26 16:14] jimaek opened #104 "Add +trace support to DNS"
We basically need to add `+trace` to dig. On the API side a new optional boolean parameter `trace` with false as default.

[code]

Need to figure out how to parse it correctly

[2022-04-28 18:19] jimaek opened #107 "Expand API logging"
Add more data about what the API is doing for easier debugging. e.g. more info like IP and geo about connecting probes

[code]

Maybe other actions we log could be expanded as well for the future

[2022-04-30 14:42] appsignal opened #109 "Error happened in GET [unknown route]"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/jsdelivr/sites/6230aa4683eb670b2c24f6e9/exceptions/incidents/11?timestamp=2022-04-30T14:38:54Z

[2022-05-08 19:30] #107 closed, assigned to patrykcieszkowski

[2022-05-08 19:47] jimaek opened #110 "Multiple connections per probe?"
Not much info, just weird logs.  Let me  know how to help debug.
https://dl.dropboxusercontent.com/s/n9jfal74rwor4mk/chrome_tSMlNZGqgL.png

[2022-05-09 13:57] jimaek opened #111 "Whitelist IPs to avoid VPN detection"
Lets add a file under config/whitelist-ips.txt or something like that that would contain a list of IPs we consider safe that should bypass the VPN check.
Make sure to trim and validate to avoid a bad input to break prod

[2022-05-09 14:00] #103 closed, assigned to patrykcieszkowski

[2022-05-09 17:03] jimaek opened #112 "Better Geo fixes"
- Always use MaxMind's network name and ASN number. It's more accurate
- lon/lat must be of the winning provider. I am not 100% certain, but city and lon/lat seem to come from different providers.
- Some IPs dont have a city. e.g. 54.37.188.195. Fallback to ipinfo.io instead of not returning a city at all. (make sure you fallback completely. with continent, country and lon/lat)

[2022-05-09 19:19] #109 closed, assigned to patrykcieszkowski

[2022-05-10 08:54] #89 closed, assigned to patrykcieszkowski

[2022-05-10 20:25] jimaek opened #115 "Limit ipinfo/maxmind credits usage"
https://dl.dropboxusercontent.com/s/ut3yb6993hpviea/chrome_2022-05-10_22-23-46.png

we're doing almost 200k queries per day. Need to fix it as we pay for maxmind queries and ipinfo is limited to 10k per day

[2022-05-10 21:27] #112 closed, assigned to patrykcieszkowski

[2022-05-10 21:57] #111 closed, assigned to patrykcieszkowski

[2022-05-12 12:14] jimaek opened #120 "Redis probes list issues - Multi-instance API problems"
This is a task to track the issue where sometimes an API instance shows a partial list of the connected probes.
It has happened in the simple CLI script and production API as well.

Need to verify that our API is 100% stable when running multiple instances with a central Redis DB.

[2022-05-13 08:09] #51 closed, assigned to patrykcieszkowski

[2022-05-13 08:11] jimaek opened #124 "Probes disconnect too often"
Task to track the issue where probes that are far away from EU like China and Costa Rica often disconnect and reconnect.
Latency is only 256ms, so our previous timeout of 2seconds and now 4seconds should have been enough.

Currently we're trying https://github.com/uNetworking/uWebSockets.js

[2022-05-13 18:10] #82 closed, assigned to jimaek

[2022-05-13 20:51] #115 closed, assigned to patrykcieszkowski

[2022-05-14 09:38] jimaek opened #126 "Gracefully handle at least 1 geoip service being down"
We have 0 connected probes

[code]

looks like because ipinfo is down we broke the whole service?

and last commit stops re-connects from "failed to collect probe metadata" so they will never re-connect until an update is released

I think we should be able to gracefully handle at least 1 geoip service being down

[2022-05-14 15:43] #110 closed, assigned to patrykcieszkowski

[2022-05-14 18:52] zarianec commented on #126
Try to remove maxmind or ipinfo api key from the env vars ;)

[2022-05-14 19:02] jimaek commented on #126
Ipinfo is broken right now anyway due to making 200k requests. Some probes can't resolve cities because of that it seems. I'm not sure why.
So it's not as simple

[2022-05-16 06:19] patrykcieszkowski commented on #126
don't we cover this case in unit tests?

[2022-05-16 09:51] patrykcieszkowski commented on #126
We do:
https://github.com/jsdelivr/globalping/blob/master/test/tests/unit/geoip.test.ts#L55
https://github.com/jsdelivr/globalping/blob/master/test/tests/unit/geoip.test.ts#L82
https://github.com/jsdelivr/globalping/blob/master/test/tests/unit/geoip.test.ts#L109

[2022-05-16 10:38] jimaek commented on #126
You mean the current issue with no city is because ipinfo is the only of 3 providers that has a city field? Can you confirm that manually?

[2022-05-16 10:40] patrykcieszkowski commented on #126
I said we do handle geoip results just fine, even if one provider is down. City issue. But for some IPs - yes, ipinfo is the only one with this field.

[2022-05-16 10:41] #126 closed

[2022-05-16 10:57] jimaek commented on #124
Small summary:
- Some probes are just too far away and should be working correctly
- TCP + keep-alive + pings should more or less handle those issues without constant re-connections
- Current 4000ms timeout x2 retries seems too high. EU to Costa Rica is only 250ms latency.
- We need to disconnect probes only if we are certain it has real internet issues and can't process real tests. Thats why a lo

[2022-05-16 10:58] jimaek commented on #120
Waiting for redis adapter bug fix

[2022-05-16 12:13] jimaek opened #127 "Add mtr"
Example binary command:

[code]

1. Output is a bit different from traceroute.  It opens a new window basically and then exits. So to have real-time results we need to read the new window.
2. We also need to remove the first 3 lines of output (if it didnt fail with an error)
3. Not sure how to detect it finished. Maybe check for an exit code, it seems to return 0 when it finished without errors? `

[2022-05-16 15:45] patrykcieszkowski commented on #127
I'm not sure if that's gonna be a problem, but seems worth mentioning:
[code]

[2022-05-16 15:47] jimaek commented on #127
Yeah, it should be fine inside our containers :) But let me know if something unexpected comes up

[2022-05-16 16:06] patrykcieszkowski commented on #127
another note:
flag `-r` runs MTR in stdout

[2022-05-16 16:09] jimaek commented on #127
It also makes it not-real time :(

[2022-05-17 07:47] patrykcieszkowski commented on #91
how can this value be optional?

[2022-05-22 13:16] jimaek opened #130 "Prevent VPN log spamming"
[code]

An IP detected as VPN wont get suddenly whitelisted in most cases. We should not try to re-connect so often.

[2022-05-22 13:20] jimaek opened #131 "Better APM"
Looks like appsignal is not very helpful, there is lots of data missing, traces are almost empty in most cases. Many errors and issues are not logged at all.
It's too hard to find issues and understand the situation.

The question is, are we doing something wrong or we need to switch to an alternative?

Proposed services to test:
- https://www.datadoghq.com/product/apm/ (includes log integration)

[2022-05-22 13:23] jimaek opened #132 "Load testing"
We need to do some load testing on the API itself, it feels like there is a bottleneck somewhere.
Someone was doing multiple POST and GET requests and got 500 errors but it shouldn't have broken anything.

POST is supposed to be limited per IP to prevent excessive requests, but it should be able to handle hundreds of requests per minute without errors.  GET should also be very lightweight and work

[2022-05-22 14:54] patrykcieszkowski commented on #131
Artillery is handy for stress testing, but the IP rate-limit might make it more tricky.
https://www.npmjs.com/package/artillery

[2022-05-22 14:59] patrykcieszkowski commented on #132
Artillery is handy for stress testing, but the IP rate-limit might make it more tricky.
https://www.npmjs.com/package/artillery

edit:
`GET /v1/measurements/afiFkDrPa6HWJBJc`
https://i.imgur.com/XC1Gmm0.png

[2022-05-23 10:47] jimaek commented on #132
Based on the logs I am not sure if the issue was related to GET or POST. So its best to test everything to better understand what is happening.

[2022-05-23 10:49] patrykcieszkowski commented on #132
but its gonna limit me on 100 queries

[2022-05-23 10:50] jimaek commented on #132
We can deploy a version without any limits so you could easier test everything from a single IP. But its probably easier to debug if you do it on your localhost

[2022-05-23 19:14] #130 closed

[2022-05-24 19:10] jimaek opened #133 "Integrations and listings"
Some ideas of integrations we should do:

Marketplaces:
- https://rapidapi.com/solution/api-provider/
- https://superface.ai/

List project:
- [x] https://www.saashub.com/
- [x] https://alternative.me/
- [x] https://alternativeto.net/
- [x] https://github.com/public-apis/public-apis
- [x] https://apilist.fun/new
- [x] https://apirank.dev
- [x] https://apitracker.io/
- [x] https://apilayer.com/prov

[2022-05-24 19:27] patrykcieszkowski commented on #127
What should we do with MTR's ASCI color characters? They polute the output, to the point it makes them unreadable. Naturally, we gotta get rid of them for the parsed output, but should we keep them for the `rawOutput`?

[code]

[2022-05-24 19:31] jimaek commented on #127
definitely no, the question is if we need to do this manually or there is an option to disable it

[2022-05-24 19:32] patrykcieszkowski commented on #127
I can easily filter them out with single regex query, that's not an issue. I just wasn't sure if we want to manipulate the `rawOutput` at all.

[2022-05-24 19:35] jimaek commented on #127
There is no value in keeping the colors and it will make the life easier for many people if its regular readable text. So lets remove it :)

[2022-05-25 17:37] jimaek opened #134 "Private IPs improvements"
I think I've seen 2 small issues with our private IP blocking. Can you please check what we can do about it?

1. We often shortly flash the real result in the output before returning the error message. It happens in all tests. Just set 192.168.1.1.nip.io as endpoint. It would be good to completely avoid doing that. (This happens if the endpoint actually exists in the LAN). What are our options?
2.

[2022-05-25 17:54] jimaek opened #135 "Empty results"
Not sure yet how but some results are empty. In theory it should never happen, we must return an error.

Input https://dl.dropboxusercontent.com/s/0f6b0a8k34ns15m/chrome_2022-05-25_19-53-59.png

Result
https://api.globalping.io/v1/measurements/n5IzFV5i2h4Gyeg0

[code]

[2022-05-25 18:01] jimaek commented on #135
Looks like it was related to outdated PR deployment. Closing for now

[2022-05-25 18:12] jimaek commented on #135
Nope, seems unrelated after all

[code]

[2022-05-25 19:04] patrykcieszkowski opened #136 "refactor progress update"
some queries require full content update, while others just append new lines.

I'm seeing two potential solutions:
1. Keep full result in memory (probe), push the entire object on `progress` and override the value;
2. Add `override` boolean to `result` object on `progress` event, act accordigly.

@zarianec any ideas?

[2022-06-01 17:12] patrykcieszkowski commented on #134
Blocking `nip.io` or targets containing private IP as part of the domain name doesn't make sense, since anybody can spawn such a service. Our best bet would be querying the DNS before `ping` request is executed.

[2022-06-01 17:17] patrykcieszkowski commented on #134
Wym. That's what we agreed for - show all results IRL if possible, block if the final field is a private IP (dns). Gateway is always a private IP.

[2022-06-01 17:47] patrykcieszkowski commented on #134
but we do!

https://github.com/jsdelivr/globalping-probe/blob/master/src/command/traceroute-command.ts#L116
https://github.com/jsdelivr/globalping-probe/blob/master/src/command/ping-command.ts#L96

[2022-06-01 18:00] jimaek commented on #134
What about the second part of the issue? If we already read the first row then no reason to wait for the timeout before detecting it as private ip

[2022-06-01 18:08] patrykcieszkowski commented on #134
We kill the process on private IP detection, so the response should be sent out immidiatelly.

[2022-06-06 17:28] jimaek commented on #134
There is no difference if the IP is present in the network or not. The DNS record is resolvable 100% of the time. And ping makes the resolved IP available in the first row. So why do we need to wait 15/30seconds to block the test?
Just take the resolved IP and check it if its private or not without waiting for anything. If its private then kill the test.

[2022-06-06 17:42] patrykcieszkowski commented on #134
Read again what I said.

There is a difference. I just told you - with our current implementation, execa doesn't report `data` event on stdout on header's appearance. On unresolved ping  - the response we catch is the timeout error.

[2022-06-06 17:49] jimaek commented on #134
I still dont understand what you want to say. Its impossible to do?

[2022-06-06 18:46] #85 closed

[2022-06-06 19:29] #93 closed

[2022-06-06 19:30] jimaek commented on #134
I think point 1 was fixed in 0.5.1. Maybe also run a test yourself to confirm.
Now need to fix point 2 as well to close this issue

[2022-06-07 18:10] jimaek commented on #91
All HTTP2 tests seem to fail with `Response code 400 (Bad Request)` Can you please test, maybe I am doing something wrong?

[2022-06-07 18:28] jimaek commented on #91
This part doesnt seem to work as described. It just returns "Exceeded the download." instead of first 10kb

[2022-06-07 18:54] jimaek opened #140 "pipe 2 issue"
Some ping tests add pipe 2 at the end:

[code]

[2022-06-07 18:56] jimaek commented on #91
Where

[code]
is coming from? Because it reports authorized: true to HTTP requests too. Where its not even applicable. So not sure if that field works correctly

[2022-06-07 19:28] patrykcieszkowski commented on #91
Not all servers support HTTP2. Here's my list:
- google.com - doesnt work
- youtube.com - doesnt work
- github.com - works
- odysee.com - works
- elocast.com - works
- stackoverflow.com - works
- gab.com - works
- linkedin.com - works

[2022-06-07 19:32] patrykcieszkowski commented on #91
On what url did you get this response? Its only added, if we detect TLS response, and its a 1:1 mapping with `socket.authorized` variable.

[2022-06-07 19:42] patrykcieszkowski commented on #91
Error hander kicked in. I'll add an exception.

[2022-06-08 03:03] patrykcieszkowski commented on #140
https://serverfault.com/questions/587730/what-does-pipe-number-mean-in-ping-output

[2022-06-08 04:18] patrykcieszkowski commented on #135
I don't think we changed anything to target this issue since then, but I can't replicate it. Any tips?

[2022-06-08 18:53] jimaek commented on #140
Interesting, I had never seen that for some reason

[2022-06-08 18:53] #140 closed

[2022-06-08 18:59] jimaek commented on #135
I guess lets close it for now and see if it happens again

[2022-06-08 18:59] #135 closed

[2022-06-09 20:03] #104 closed

[2022-06-09 20:03] #134 closed

[2022-06-09 20:08] jimaek commented on #131
I am thinking of using Newrelic due to lower cost and 100% traces at the same time. Plus native logging. Can you explore it @patrykcieszkowski ?
If we use it we will have to natively integrate to get the fullest picture possible. So no Heroku log drains but logging directly so it could associated logs to traces and so on. Same for full Redis integration and everything else we could use.
Plus our c

[2022-06-09 20:30] jimaek commented on #69
Quick note: We need to replace digital element with something else, potentially db-ip. In 90% of issues the fault lies at DE.

[2022-06-10 16:38] #91 closed

[2022-06-13 10:44] patrykcieszkowski commented on #131
Newrelic doesn't support ESM as of yet. There are plans to do so, but they have no deadline.

https://github.com/newrelic/node-newrelic/issues/553#issuecomment-1130219375

[2022-06-14 16:52] #136 closed

[2022-06-14 17:32] jimaek commented on #127
- Most rows return `(waiting for reply)   ` instead of the result. While the mtr command has them every time
- ASNs are sometimes missing, but not via mtr
- Last line is sometimes duplicated
- Metadata should round the numbers ` "jMin": 0.15600000000000003,`

[2022-06-15 00:17] patrykcieszkowski commented on #127
It happened randomly, and was especially noticible on production probes - it didn't happen on my local dev serv. If I'm right, it was caused by the fact we have to asynchroniously query ASN values, while we tried to keep the progress events going, so we ended up overriding the result. Fixed.

fixed.

True, but not true. Some routes point to the same server, and MTR responds with... new routes unde

[2022-06-15 10:45] patrykcieszkowski commented on #127
Here's another example of this duplication on `google.com` domain. Except this time, one of them comes with a resolved hostname.

https://gist.github.com/patrykcieszkowski/9afa8a01456096ccfd27dc924e992424

[2022-06-15 17:25] jimaek commented on #127
Another issue with private IPs when running mtr to google.com

[code]

[code]

[2022-06-16 15:40] jimaek opened #142 "Filter locations"
I keep running into an issue where I want to run a test from a specific probe location. e.g. Amazon in Sydney.
Right now its impossible. IDs are probably not the safest solution for now, so #94 can stay open while we think about it.

Previous idea _Originally posted by @patrykcieszkowski in https://github.com/jsdelivr/globalping/issues/94#issuecomment-1101929656_

Sounds interesting but maybe a bi

[2022-06-17 10:06] patrykcieszkowski commented on #142
You can't do that. `Locations[]` is an array, and in your example the `filter` variable would be set on its own - it would have to be wrapped around an object.

[code]

Frankly speaking, it seems like changes in logic would be pretty similar, but the end result wouldn't be as readable and user friendly.

As for the `magic` query, we could probably do that right now, it would be one liner.

[2022-06-17 10:18] jimaek commented on #142
I wonder if supporting this logic only in the magic field and nowhere else would be a good idea. What do you think?

[2022-06-17 10:25] patrykcieszkowski commented on #142
I think it's a good start, but I would like to see it implemented in standard queries at some point.

[2022-06-17 11:27] jimaek commented on #142
What if we moved `filter` into the `measurement` array? So the user is basically requesting how he wants the measurement results to get processed

[2022-06-17 11:48] patrykcieszkowski commented on #142
Yeah, that would work then, thats pretty much how we define global limit. But again, the underlying logic would be the same as in nested location objects. We should think of which solution would be better long term.

[2022-06-17 16:06] jimaek commented on #142
Lets proceed with filter in measurement then. It should solve the problem with minimal changes in the format.

[code]

@MartinKolarik will later review the API overall as well

[2022-06-20 16:01] jimaek commented on #127
Current state:
- Duplication bug when tests end with `(waiting for reply)`
- Weird behavior when testing IPs like 1.1.1.1 and 8.8.8.8

[2022-06-22 16:21] jimaek opened #145 "Probes not processing tests"
Looks like some probes that are connected and on the latest version dont actually do anything.
Latest example was pinging from Finland. Out of 5 probes only 1 returned results. After rebooting a probe it started working too.
Logs on the probe itself were empty with nothing interesting.

[2022-06-22 17:16] jimaek commented on #145
Restarting the API helps them get unstuck it seems. But all of them and not always.

[2022-06-22 17:18] jimaek opened #146 "Missing mtr and http docs"

[2022-06-23 14:54] #142 closed

[2022-06-25 14:05] jimaek commented on #131
Since Datadog seems to support everything can you help me make sense of their pricing?
https://dl.dropboxusercontent.com/s/mbzv6dmj8yosmhu/chrome_t1UZegH2gK.png

I think to monitor our API we need:
- APM $36 (but public pricing says $48)
- Infrastructure $18 (required)
- Custom Metrics $5
- Log Management $2.55
- Log Ingestion $1
- Profiled Hosts ?? $23

Total: ~$97 per month?

Am I right or I'm m

[2022-06-25 18:36] MartinKolarik opened #149 "The http command should include response body and headers for errors"
If there's an error while handling the HTTP command, we currently return empty `rawBody` and `rawHeaders`. For `HTTPError` type, those properties should be returned just like they are for non-error responses. I'd say `rawOutput` should also be the body of the response, and not the error message as it is now.

Probably what we want is to simply turn this off: https://github.com/sindresorhus/got/blo

[2022-06-27 13:45] patrykcieszkowski commented on #149
I'm confused as to what you're referring to - we capture and output everything that's supplied.

[2022-06-27 14:56] patrykcieszkowski commented on #149
Strangly enough, `throwHttpErrors` toggle doesn't seem to change the bahaviour of stream at all. It throws an error regardless of it's value.

[2022-06-27 17:02] jimaek commented on #131
Yeah it's a mess and dashboard pricing is not always the same to public...

But if it's under $100/month we can proceed.

Can you check if we can natively integrate with them?
All the fancy stuff like logging with APM correlation and so on. They have a bunch of features and for that kind of money I want to use everything web pay for :p

[2022-06-27 18:00] MartinKolarik commented on #149
I'm not sure right now how the option works for streams but the alternative solution is to simply check for the error class.

[2022-06-30 10:14] MartinKolarik opened #151 "Reduce IO in malware validation"
The malware validation in https://github.com/jsdelivr/globalping/tree/44999e1b1a921ee35ff4b4f7b6e753a130c5c358/src/lib/malware has several issues:
 - [ ] [sync fs functions are used during request/response lifecycle](https://github.com/jsdelivr/globalping/blob/44999e1b1a921ee35ff4b4f7b6e753a130c5c358/src/lib/malware/domain.ts#L44) (joi has `validateAsync` function if needed),
 - [ ] the lists are

[2022-06-30 10:33] jimaek commented on #37
To be clear, the goal of Globalping is to be an API that many different tools and services will use to implement their own functionality. This means getting hundreds of test requests per second where each could be asking for 100 probes to run the test.

Imagine a CDN sponsoring us to get a big limit to run their own comparisons for all CDN providers out there, thousands of tests per minute per CDN

[2022-06-30 16:44] patrykcieszkowski commented on #151
IO querying is a valid point. I believe the initial idea was to scan databases in interval, and their size would be hard to predict so we opted for IO calls per connection. Finally, we scan them per-build basis (once a day), and their size isn't all that terrible. We might as well store them in-memory.

For joi methods, if we keep the list in-memory, they

these tho methods identical, with excepti

[2022-06-30 17:20] MartinKolarik commented on #151
yes but the one that's tested doesn't seem to be used anywhere outside the tests so not sure why it's even there

[2022-06-30 20:32] jimaek opened #153 "User API Epic"
This relies on the jsDelivr API and implementation which is up to Martin to decide. But I wanted to make a list of the features we will need to support:

- Full user dashboard as part of jsdelivr.com
- [x] Ability to adopt a probe. A user should be able to enter the IPs of the probes he controls to adopt them. I imagine this working like this: 1. Enter IP address of probe 2. Message asks the user

[2022-06-30 21:01] patrykcieszkowski commented on #153
Probe authentication wise - wouldn't it be easier to provide an API key in env variables during probe startup, rather than asking user to provide its IP address and lookup container stdout?

[2022-06-30 21:08] jimaek commented on #153
I want to keep the probes read-only as much as possible, it makes the things easier. Also it feels a better UX like this for the people that are not that experienced with containers.

[2022-07-04 13:00] #149 closed

[2022-07-04 13:57] #151 closed

[2022-07-04 18:33] #145 closed

[2022-07-10 21:28] MartinKolarik opened #155 "API review"
This issue summarizes a number of changes with a small impact. I'll open separate issues for larger changes that may need discussion:

1. [ ] 1. Pretty print all responses by default (indent with one tab) and remove the `?pretty` param. The extra whitespace has [close to zero impact](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#pretty-print-gzip) when gzip is used, but it'

[2022-07-11 14:29] MartinKolarik opened #156 "Change location schema"
The current schema allows specifying only one key/value pair per object, e.g.

[code]

That means to support changing behavior from "OR" to "AND" when multiple location types are specified, we need an extra switch `filter: combined`

[code]

This seems unnecessarily complex and is still somewhat limited because you can't mix AND/OR behavior within one request.

It seems to me a better format here

[2022-07-11 15:32] patrykcieszkowski commented on #156
We've been through this a couple of times over the recent few months. My original idea was to implement nested locations, but it wasn't approved by neither @jimaek nor @zarianec.

[2022-07-11 15:39] patrykcieszkowski commented on #156
Here's the most recent reference to it: https://github.com/jsdelivr/globalping/issues/142

I don't see any disadvantages, in fact IMO it's far more readable and powerful.

[2022-07-11 15:49] jimaek commented on #156
The main reason I pushed for the filter was to release the feature faster.
I am not against refactoring it now that it's working, but I think we need Artem here, because I am curious what was his original reason to make the API in this way. @zarianec

[2022-07-11 15:53] MartinKolarik commented on #156
Indeed, I was even tagged there. My only small issue is that we'd mix the location specifiers with the `limit` in the new format, e.g. `{ country: 'CZ', network: '...', limit: 1 }`  but overall I think the format is still much more intuitive to users.

[2022-07-11 16:35] patrykcieszkowski commented on #155
The header `x-ratelimit-reset` is a custom header, and its definition is floating, depending on the API. For instance, Github provides an experiation date - just like we do. I agree, the format is debatable. Maybe epoch?

The status code - good point. As for the other changes, I'm pretty sceptical. There's absolutely no value of outputing the `GET /measurement/:id` response schema on the `POST /me

[2022-07-11 16:48] MartinKolarik commented on #155
Non-standard, but at least we'll be consistent across jsDelivr services, we already have it like this on purge API.

Its usefulness is debatable but it's more or less a few extra static fields but I believe it's in line with what the spec says 202 response should be:

This number is sent in response to the POST, so what I suggest is simply store that number and return it in response to GET as well

[2022-07-11 20:18] MartinKolarik opened #157 "Update response schemas"
1. ping
 - [ ] 1.1 wrap `{ avg, loss, max, min }` in `stats` object. Seems logical and would match mtr format.
 - [ ] 1.2 Remove the `-n` parameter we call it with, to get resolved hostnames in the output.
 - [ ] 1.3 Add `resolvedHostname` to the result, which is the last hostname in the output.
 - [ ] 1.4. Rename `times` to `timings` for consistency. Rename `time` to `rtt`. Example: `timings: [{

[2022-07-11 20:38] zarianec commented on #156
The original reason was to keep API more formal. Somehow we missed a use-case with AND filters back then so didn't consider it while designing the API.

But Martin's variant definitely fits better for use-cases we have now.

[2022-07-12 04:48] patrykcieszkowski commented on #157
4.3. The `seq` key/value is crutial, and needs to stay (at least for probe's internal parsing). It's the ping/pong Id number, they don't come in order, and don't always report back. We can probably parse the final result seperately.
4.4. ASN can't a number. Yes, that seems to be a logical conclusion, but some chinese IPs report two ASN numbers. As for the reason of why that's heppening - I can onl

[2022-07-12 05:07] patrykcieszkowski commented on #155
Fair enough.

I'd say the Id number, and number of assigned probes complies with this descrition. It indicates the server has accepted the request and forwarded it to the final service.

I'll have to think this through. The names have to be normalised, in case the IP API returns a non-ascii character. Lowercasing it might not be necessary, but it defenitely makes it a lot easier when location-matc

[2022-07-12 08:05] MartinKolarik commented on #157
I understand its meaning and that you need it in parsing but not why it should be in the parsed output.

That's interesting and worth looking into, do you have any examples? Could it maybe be a representation of the 32 bit values? https://en.wikipedia.org/wiki/Autonomous_system_(Internet)

[2022-07-12 08:10] MartinKolarik commented on #156
Ok, let's proceed with this change then.

[2022-07-12 08:13] patrykcieszkowski commented on #157
Try querying `autohome.com`. The result:
https://gist.github.com/patrykcieszkowski/50572a958dfc00c386ccf26571aba020

Result from `v4.whois.cymru.com`:
[code]

[2022-07-12 08:54] jimaek commented on #157
"a" is not an option, we want our mtr output to be equal to the real mtr output which returns 2 ASNs.

Chances that our probe will have 2 ASNs is pretty low and doesnt matter really, so we can continue using 1 ASN there.

[2022-07-12 10:37] MartinKolarik commented on #157
So B.

[2022-07-12 10:41] jimaek commented on #157
B but do we need an array? Probes ASN definitely no change

[2022-07-12 10:43] MartinKolarik commented on #157
Probes don't change, command parsed output change from `asn: '123 456'` to `asn: [123, 456]`

[2022-07-12 11:55] MartinKolarik commented on #69
Maybe instead of measuring latency,  we could rely on routing information. Make a request to a Cloudflare-hosted website and get the location it hit from the headers. Resolve the probe and POP locations to coordinates (there are APIs, we use one [here](https://github.com/jsdelivr/www.jsdelivr.com/blob/master/bin/geocode.js#L16)), then check it's among the top N (5?) closest CF locations (list is e

[2022-07-12 16:36] MartinKolarik commented on #69
Yes, I meant routing directly. Putting that idea aside, what you want is probably this: https://arxiv.org/pdf/2004.07836.pdf (not necessarily this exact algorithm but the idea). Assuming we have maybe 200 static points with known correct locations, we can have them pinged, do some math, and have a probably good enough estimate of the new probe's location.

The 200 (not sure how many would be reall

[2022-07-12 16:51] jimaek commented on #69
I thought of that, I even want to make a public tool that uses our network for that. But it will only work in Europe and USA. Good luck guessing the location in Africa when all we have is 10 probes in South Africa :)

Maybe in a few years when we have thousands of probes everywhere

[2022-07-12 17:03] MartinKolarik commented on #69
It shouldn't matter that much. It's true that the closer the probes, the better the results but it should be good enough for this purpose even from larger distance.

[2022-07-12 17:24] MartinKolarik commented on #69
I suppose your expectations are very different from what you outlined in the issue. The first post here talks about mixed up continents so I was aiming to identify a continent and roughly a country. For two neighboring countries, it won't impact the tests much anyway if we identify them incorrectly.

[2022-07-12 18:09] jimaek commented on #69
That was an example. I guess this solution could be used as a failover when 3 DBs have all different results and then choose the DB that agrees with this test. But at that point maybe it would make sense to just block that probe.
Without accurate geo information many tests could become useless.  e.g. If I am debugging the routing of my CDN in Brazil, I dont want traceroutes from Mexico being repor

[2022-07-13 09:07] jimaek commented on #155
I dont think its our responsibility to ensure correct rendering in UIs. Currently all the client needs to do is uppercase the names. Simple. But if we start thinking about accurate names then it becomes a huge problem.

We dont store city names, we get them from our GeoIP DBs and everyone of them has different rules. The same city is spelled differently in every DB. Normalizing the names makes thi

[2022-07-13 09:42] patrykcieszkowski commented on #156
Adding a `nested` type, like I proposed would make it far easier to implement, due to nature of our current filtering system; schemas, types, router, tests. And it looks far more readable to me. Why don't we go with that?

[2022-07-13 09:56] patrykcieszkowski commented on #156
Just like in the mentioned ticket:

[code]

vs:
[code]

The first one, is essentially what we're doing under the hood with our current `combined` toggle solution.

[2022-07-13 11:03] MartinKolarik commented on #155
It isn't so simple because there can be multiple word names so for the client this can get quite annoying and I see no reason why we should return normalized names in the output.

Regarding different names in DBs, I thought of that but I think that's fine. It happens mostly with names from other languages which may have multiple common/correct translations to English. As long as one of them is use

[2022-07-13 11:08] jimaek commented on #155
Then we will probably have issues where the user enters one thing and output shows him another. E.g. user enters Athens and gets results from Athena (fake example).
That's already confusing.
Then if he tries to enter what the API returned, Athena, he will get an error because not every DB uses that name.

It just adds too edge cases with minimal value in return

[2022-07-13 11:12] MartinKolarik commented on #155
I'm not following. If you enter Athens and we know the city as Athena it'll fail even now.

[2022-07-13 11:16] jimaek commented on #155
We return the same city name as the one we used to search for the probe. So if you got a result from Athens probe you can use it again as is.
If we return a pretty city name that is different than the internal normalized one we will confuse the user, if he uses that name the next query will fail

[2022-07-13 11:18] patrykcieszkowski commented on #155
And besides the confusing aspect of having input-output mismatch which is extremaly important, `Fastly` returns lowercased values - so the whole point of this change goes out the window.

[2022-07-13 11:29] patrykcieszkowski commented on #156
that's a pretty subjective statement. The current schema is already documented, and IMO - the docs are pretty self explanatory. The change would just consist of adding a new type, and highlighting its value type is `Location[]`. Not that complicated.

I agree - if we were to design the API from scratch, your schema would probably be the way to go (I would probably group these k/v's into a mutual o

[2022-07-13 11:37] jimaek commented on #156
I would actually prefer the current version we have live to nested. It looks too complicated and it's not obvious how it works.

[2022-07-13 11:41] patrykcieszkowski commented on #156
Just a reminder, `magic` type supports nesting aleady, so that can be used for AND/OR scenarios with `filter: combined` disabled.

[2022-07-13 11:45] MartinKolarik commented on #156
Good. We're at a point when we still can do that, hence my suggestions. As soon as we mark it as stable we won't be able to and indeed, then the "intrusiveness" would be the main factor. Right now, I'm aiming to make the format more intuitive because we still can.

It's a statement based also on the later goal of providing a standardized OAS document. Your solution needs a special switch that chan

[2022-07-13 12:00] MartinKolarik commented on #155
The exact same mismatch is there now, for the opposite scenario. I input Athens and you give me back athens.

That's a 100% valid point but it seems we might be able to change that.

[2022-07-13 12:08] patrykcieszkowski commented on #155
We normalise location details on probe connection, and keep them that way. What user queries, and what user sees doesn't change.

[2022-07-13 12:16] patrykcieszkowski commented on #155
that's what I mean.

[2022-07-13 17:38] MartinKolarik commented on #155
@patrykcieszkowski we discussed the location changes with @jimaek also in the context of some related problems, I'll open separate issues for this. For now, focus on the other 9 points here.

[2022-07-14 09:02] patrykcieszkowski commented on #157
Because if we remove the `seq` variable, and the `PONG` resposne never comes, the parent object will stay empty. So we'll essentially return an array full of empty objects - we could filter them out, but that on its own is an issue, since having a list of failed `PING` attempts is a potential diagnostic value, and besides - it would be quite confusing to the user, seeing `stats.drop` report value

[2022-07-14 09:12] MartinKolarik commented on #157
Why not `rtt: null`

[2022-07-14 09:42] patrykcieszkowski commented on #157
That's a potential solution, but that's a typing issue.

Our `eslint` config bans `null` types (https://github.com/sindresorhus/meta/discussions/7) - that can be skipped but isn't ideal. Setting `undefined` will cause `rtt` keys to be skipped by WS during emit parsing.

[2022-07-14 11:10] patrykcieszkowski commented on #157
For the time being, I've set `rtt`'s default value to `null`. We'll probably have to review this issue later on.

[2022-07-14 12:09] patrykcieszkowski commented on #157
That's something to consider, there are other eslint rules we should consider overriding.

I'm not a fan of casting multi-type variables, that's my main issue with this solution.

[2022-07-14 19:04] jimaek commented on #94
We implemented the filters part. @MartinKolarik any thoughts on unique IDs and using them to target probes?

[2022-07-14 19:21] jimaek commented on #95
Paused because its unclear if we will continue using Heroku. In the meantime it works well enough with only a short downtime during deployment

[2022-07-14 19:39] MartinKolarik commented on #94
At this point, I see no reason to allow it. We could consider it later if there's a good use case.

[2022-07-14 19:49] jimaek commented on #94
Then I'll close it and see if anyone opens a new issue about it

[2022-07-14 19:49] #94 closed

[2022-07-15 09:11] MartinKolarik opened #159 "Update schema for creating measurements"
- [ ] 1. For DNS type, change the params from:

[code]

to

[code]

Neither of the three values is actually a property of the query, and for other measurement types, we even have protocol/port params already, without extra nesting.

- [ ] 2. Move properties `type` and `target` outside of the `measurement` object and rename `measurement` to `measurementOptions`:

[code]

=>

[code]

This separates

[2022-07-15 09:21] MartinKolarik opened #160 "Ensure we send meaningful errors for schema validation"
E.g. sending an invalid measurement type right now returns `\"measurement.type\" must be [http]` instead of `\"measurement.type\" must be on of [ping, http, ...]` - this particular thing might be fixed after #159 on its own but we should have a test for validation of each possible property - both to ensure that there actually is validation, and that the error makes sense.

[2022-07-15 10:04] MartinKolarik opened #161 "Fix geoip logic"
The logic should be as follows.

City:
1. Find the best city match based on the number of the same values (this is implemented correctly).
1.1. If ipinfo + maxmind have the same result, use ipinfo (this matters because we then use other values like coordinates/asn from the "best match" and they can differ even between providers with the same city).
1.2. If ipinfo + fastly have the same result, use

[2022-07-15 10:12] patrykcieszkowski commented on #161
We've refactored geoip mechanism at least 3 times since the start of the project, and this is nothing like we discussed in the past. Where all that comes from?

[2022-07-15 10:14] MartinKolarik commented on #161
We had a long discussion with @jimaek two days ago. All tasks I'm posting right now are the results of that discussion. In this specific case, the logic simply doesn't match what he previously described.

[2022-07-15 10:15] MartinKolarik commented on #161
If you read it in detail, it's mostly changes about changing random behavior when providers don't agree, to a well defined order.

[2022-07-15 10:23] MartinKolarik opened #162 "Return original city/region/network names"
A prerequisite for this: #161

Introduce new internal `normalizedCity` and `normalizedNetwork` names that use the same normalization we have now. Use those fields for matching. Remove all normalization from the current `city` and `network` fields. Update the names stored in the code to non-normalized representation.

Extend the current city normalization with the following: `name.replace(/(?:\s+|^

[2022-07-15 10:33] MartinKolarik commented on #161
Some extra details, as we also did a test with 8k IPs this week:
 - Fastly was confirmed to be the least accurate.
 - There was *never* a case where Fastly would be the only one to return a city.

[2022-07-15 11:07] MartinKolarik opened #163 "Consider using a local DB to manage city name inconsistencies"
In some cases, different providers return different variants of the same city name. #162 adds basic normalization for "city" and "the" cases, but overall a more effective solution might need a local DB with a list of all known names used to resolve the correct name. A possible source of the data: https://www.kaggle.com/datasets/geonames/geonames-database?select=geonames.csv

This is not something

[2022-07-16 09:30] jimaek opened #165 "Add DNS resolver to responses"
How about we add a global resolver field to all responses? So that when a user doesn't provide their own and uses the default he could know which one is that.

We could read local resolvers and if it's a private IP say `resolvers: private` or `local` otherwise

[code]

It would be useful especially in case of home hosted probes that would have ISP DNS resolvers from DHCP.

But we need to make sure

[2022-07-16 10:35] patrykcieszkowski commented on #165
I don't see a way to tell which DNS server was used - maybe for certain commands, such as `HTTP`, but that's about it. So we'll have to report the entire array; what if the DNS pool has a mix of private and public IPs?

We should also make sure the `resolver` field will always be an array, even if user provides their own server, to avoid confusion.

[2022-07-16 10:50] patrykcieszkowski commented on #159
number `2` won't fly, and following that logic, the `query` field is taking that role (`1`).

The `measurement` object is a container for every measurement-specific parameter there is to be supplied; it's structure doesn't change, up until the point it reaches the probe. Yes, including measurement type value, and the target. All of these are necessary for the probe to start the test. The seperatio

[2022-07-16 11:16] jimaek commented on #165
So if nothing was provided by the user we return full array but with private IPs censored. If user specified a resolver manually we return an array of 1.

@MartinKolarik wdyt?

[2022-07-16 11:36] MartinKolarik commented on #159
That's your implementation detail I don't care about at all as a user. What you send to the probe doesn't need to match 1:1 the payload from the user (just take the fields from the outer object and send them as you wish).

[2022-07-16 11:56] patrykcieszkowski commented on #159
Not an argument. There's no value coming from the proposed change of schema.

[2022-07-17 10:09] patrykcieszkowski commented on #161
Can you explain to me in more details the ASN/Network mechanism? Especially this part

[2022-07-18 14:49] MartinKolarik commented on #165
How about instead defaulting to some predefined value, so that the behavior is consistent regardless of the network setup of the probe (set default resolvers in the docker image, or in node)?

I could see some value in being able to use the provider-default, but since the probe owners can have a custom setup on their OS/router anyway and the people making measurements have no way to request "use t

[2022-07-18 14:55] MartinKolarik commented on #159
The value is cleaner naming and better distinction between shared/required and measurement-specific/optional parameters. It's something you may disagree with but as I said in my previous comment, there's no implementation problem with doing it, so please just do it.

[2022-07-18 15:05] patrykcieszkowski commented on #159
The whole shtick with refactoring location filters schema, rather than adding a new type, was the idea a user would have to update multiple objects, if they were to modify filter parameters, and we want to simplify that - this change would be the exact opposite of that mindset. It's more accesable for user to have a hot-swappable object, than haivng values spread all over the request body.

[2022-07-18 15:05] MartinKolarik commented on #161
A provider may return city details but have empty ASN/network fields. We want to use the same provider for ASN that we used for the city, except if multiple providers returned the same city, then a case like 1.1 is possible. Fastly should *never* be used for ASN, hence there's special rules only for ipinfo/maxmind, and dropping otherwise.

[2022-07-18 15:14] jimaek commented on #165
People do have the ability to request to use to use the ISP provider, don't specify a custom one, we just don't guarantee it will be ISP and not Google.

In the future we could even detect those probes and tag them to allow users to run tests only on probes using ISP resolvers

[2022-07-18 15:22] MartinKolarik commented on #159
This is different. Locations were about changing a shape of the data depending on the behavior. Here we don't change the shape, just the values.

Also, "all over the request body" is part of the my problem with the current naming. You're looking at it as if "location" and "limit" were somehow not the part of the "measurement" but conceptually I consider the whole body to be "the" measurement. E.g.

[2022-07-18 15:27] MartinKolarik commented on #165
Yes, they have the ability, but they don't know in advance what's going to happen in the end, hence it doesn't really fulfill the "I want to get the ISP provider" use case, at which point I'm not sure if there's any reason to not have defaults.

I thought of it but not sure how we would actually decide what's ISP and what not.

[2022-07-18 17:37] MartinKolarik opened #167 "City names containing hyphens won't match via magic field"
Because we use `-` as a replacement for ` ` in magic matching. These names seem to be quite common, particularly in Asia. I think we can solve this by replacing `-` with whitespace in our internal normalization step and consider the two equivalent in our matching.

[2022-07-18 17:52] patrykcieszkowski commented on #161
@MartinKolarik can you review the changes I've made to the city-match mechanism in #164, and let me know if its outcome will match the expected behaviour for network details? I'm pretty sure that's exactly what we're doing, but I might be wrong.

[2022-07-18 17:58] MartinKolarik commented on #161
Sure, also one update. Fastly can return strings "reserved" and "private" for the city name, replace those with empty strings. It won't impact the behavior right now since we're going to use Fastly results only if they match with some other provider, but just in case, for the future.

[2022-07-18 21:11] MartinKolarik commented on #167
Right now for magic, we replace `-` with whitespace in the user query. Unless I missed something, that means cities that actually have `-` in their name, won't match.

[2022-07-18 21:18] patrykcieszkowski commented on #167
`magic` relies on a pre-mapped index, where we replace all dashes with whitespaces.
https://github.com/jsdelivr/globalping/blob/master/src/probe/builder.ts#L87

We then do the same for user-input, to match the index:
https://github.com/jsdelivr/globalping/blob/master/src/probe/router.ts#L16

We could use dashes instead of whitespaces, but that doesn't really make any difference at the end of the d

[2022-07-18 21:24] MartinKolarik commented on #167
Ok I missed the builder part here.

[2022-07-18 21:24] #167 closed

[2022-07-19 07:55] jimaek commented on #165
I think Martin means just setting them in the Docker container and not return anything in the API.

In my case we return everything in JSON with filtering to hide private IPs. But even then its useful info to know if the resolving happened on a public resolver or an ISP/LAN resolver.

[2022-07-19 12:28] MartinKolarik commented on #161
@patrykcieszkowski for network, I still see maxmind having the highest priority, which doesn't match the description above.

[2022-07-19 16:02] patrykcieszkowski commented on #161
I'm aware. Besides the maxmind/best match priority, are you seeing anything that wouldn't match the desired network match algorithm? I'm trying to understand what needs to be done.

[2022-07-19 16:21] MartinKolarik commented on #161
Well, I'm not sure what to tell you, really. I guess it's close, but you see yourself that it doesn't fully match, so update it to the cases I described and then I can check.

[2022-07-20 11:53] jimaek opened #168 "Add to Postman marketplace"
Lets add the API to https://www.postman.com/explore
It can be either manually or Swagger support. Needs some research.
I already have an account and workspace, PM me for invite.

[2022-07-20 11:58] jimaek commented on #168
Other integrations probably also need Swagger support.

@patrykcieszkowski @MartinKolarik can we add automated Swagger support?

[2022-07-20 12:00] ayuhito commented on #163
Alternate datasets: http://www.geonames.org or https://www.getty.edu/research/tools/vocabularies/tgn/index.html

Getty has a much more permissive free license than Geonames. But Geonames is much more comprehensive (although I haven't fully verified the quality of the free license).

Both are actively maintained though.

[2022-07-20 12:07] MartinKolarik commented on #163
The file I linked and essentially everything else I found was based on geonames, so yes, that's probably the ultimate source.

[2022-07-20 16:14] patrykcieszkowski commented on #159
The definition of `target` is also type-dependent, so that's another thing to consider.

Either way, I can't move on with this, until we merge #166.

[2022-07-20 21:09] #161 closed

[2022-07-21 08:40] jimaek commented on #165
Ok, so:
1. Add to probe.dnsResolvers in responses
2. Add to list of probes /v1/probes
3. Array, that lists configured resolvers https://nodejs.org/api/dns.html#dns_dns_getservers OR an array of 1 if the user passed a custom one. Its important to list those that were actually used.
4. Filter the list and replace private IPs with "private" or other

Agreed?

[2022-07-21 08:52] MartinKolarik commented on #165
We can't do 3 if it goes under the probe. But I don't think we have to. The user knows if he set custom or not, we don't have to send the custom value back.

[2022-07-21 08:54] patrykcieszkowski commented on #165
But it is part of the measurement. Those are the DNS resolvers, the request was completed with. We can't know exactly which one was used, which is why we wanna pass the entire list.

The DNS Resolver list can change during probe's runtime, and probe details are gathered during the connection. It wouldn't be guaranteed to be accurate.

[2022-07-21 08:55] jimaek commented on #165
Under the probe of course no, just list the included ones. But for the measurement I want to make it as clear and useful as possible and replace them with the custom one. That way its clear which one the query used, custom or defaults

[2022-07-21 08:57] MartinKolarik commented on #165
So just a property with two const values? I suppose we could though I don't see much value in it.

[2022-07-21 08:58] patrykcieszkowski commented on #165
I know what you mean - you want either a list of available DNS, which were available during the request or a DNS specified by the user. We're on the same page.

I'm arguing the dns list shouldn't go under the `probe` settings.

[2022-07-21 08:58] MartinKolarik commented on #165
Yes, it is something to consider. We could query it during each measurement and then it would no longer be a property of probe. But I don't think this is necessary.

[2022-07-21 09:02] jimaek commented on #165
Technically you're right they can change, but the chances are super low. Its not like people change their DNS resolvers 10 times per day. And our probes auto-die once per week anyway, it should be enough to pick up the latest accurate resolvers

[2022-07-21 11:29] #156 closed

[2022-07-21 11:29] #162 closed

[2022-07-21 11:39] MartinKolarik commented on #165
Ok so `probe.dnsResolvers` and `result.dnsResolverType` with values "default" and "custom".

[2022-07-21 12:22] MartinKolarik commented on #165
@patrykcieszkowski final version in the comment above.

[2022-07-21 13:51] #165 closed

[2022-07-21 14:17] ayuhito commented on #163
Note that since both sets use licenses that require attribution (CC 4.0 or ODC 1.0), we can use the README or personally I do like https://discord.com/licenses giving credit to everyone in general (and also helps partially audit the licenses we use). In this example, Discord attributes the caniuse's CC 4.0 license.

They also have a fun little popup if you scroll down to the OS libraries tab here:

[2022-07-22 10:57] #146 closed

[2022-07-25 11:14] #159 closed

[2022-07-25 11:59] MartinKolarik opened #171 "Update HTTP schema"
I missed this before since it wasn't documented, but all properties which are under `query` should be moved one level up, same as with DNS.

I'm also not very happy with the `path` name because the usual meaning of that word is [this](https://ldapwiki.com/images/url-example.png), but in our case, it is meant to contain the `query` part as well, which is very confusing. We already have a separate `

[2022-07-25 12:16] patrykcieszkowski commented on #171
The PR we pushed today moves `protocol`, `port`, and `resolver` outside the `query` object, and keeps `query` for request-specific values. Following `DNS` pattern. https://github.com/jsdelivr/globalping/blob/master/docs/measurement/schema/request.md#dns

As for the URL format, it may seem like a more ituitive option at first, but the fact you'd have to manually modify the string in order to test t

[2022-07-25 12:23] MartinKolarik commented on #171
The PR changed `query` for DNS but not for HTTP as far as I can see. I didn't comment on the PR directly since HTTP wasn't in the original issue either.

What do you consider parameters here? I'm quite ok with keeping the protocol separate or allowing it in both the target and the options. But I see no reason for separating path + port + query, and there is a number of issues with that right now,

[2022-07-25 12:24] patrykcieszkowski commented on #171
Yeah, it did.
https://github.com/jsdelivr/globalping/blob/master/src/measurement/schema/command-schema.ts#L25

[2022-07-25 12:26] MartinKolarik commented on #171
Ok, it moved resolver and protocol but not the rest. I suppose my example was confusing as I copied it from the demo page, but I'm talking about method, host, path, headers.

[2022-07-25 12:28] MartinKolarik commented on #171
There should be no `query` object at all. And if there is a `query` param, it should mean the query string. But I prefer the other version I described.

[2022-07-25 12:28] patrykcieszkowski commented on #171
request-specific parameters. Anything a user might want to modify when querying e.g. an API - it's rather unlikely a server would run on multiple ports, protocols (other than redirections) and any actual query testing would involve changes in `path`, `host` and `headers`

[2022-07-25 12:29] patrykcieszkowski commented on #171
ok, then why are we keeping `query` object for `DNS` requests?

[2022-07-25 12:33] MartinKolarik commented on #171
That's a good question. I suppose if we called it `request` here, it would match the DNS semantics 🤔

[2022-07-25 12:36] patrykcieszkowski commented on #171
@jimaek what do you think?

[2022-07-25 12:38] MartinKolarik commented on #171
Removing it is an option too but it's probably better to keep it wrapped, just with a better name. It gives the properties inside more clear meaning. E.g. for DNS, the `type` is a rather generic property name (we even have one level above) so nesting it in `query` makes it clear what it is related to.

[2022-07-25 12:57] jimaek commented on #171
I agree, we need to follow the same naming. I really don't see a problem with `query`, nobody will confuse it with query strings, especially since we dont have a query-strings dedicated parameter and everything is supposed to be in `path`.

Also please provide some json examples of the changes you want to make. Its a bit hard to follow due to the many changes.

`"target":"google.com:80/npm/opipe",

[2022-07-25 14:38] MartinKolarik commented on #171
Summary of discussions: no magic behavior for "target" (maybe later but probably not, and we let the tools handle this). Rename `query` object to `request` and separate `path` to `path` and `query` fields.

[2022-07-25 14:53] jimaek opened #172 "DNS PTR is useless without IP support"
We have PTR as a listed query type but for it to work we need to:
1. Allow IPs as target, only domains are allowed for now
2. Do `dig -x` when PTR is selected

[2022-07-25 14:57] MartinKolarik commented on #172
And of course, a combination of hostname/PTR and IP/any other than PTR type is a 422 error.

[2022-07-26 12:10] patrykcieszkowski commented on #160
I'm not really sure how to tackle this issue, nor what a sensible error messages would have to look like.

Here's an error message produced by Joi on a typo:

[code]

The error message is pretty vague, it doesn't output us a list of available properties.

[2022-07-26 12:12] patrykcieszkowski commented on #127
I believe this issue is now resolved. Have you noticed anything else wrong with MTR cmd?

[2022-07-26 12:18] jimaek commented on #127
It looks good to me, but given the many edge-cases we encountered how about @MartinKolarik @ayuhito you also test our mtr?
To make sure it works properly. Maybe spend 10 minutes on it just in case

[2022-07-26 12:30] patrykcieszkowski commented on #127
btw I don't think we've released any new probe version, and we changed a lot in the input, response schema etc. Maybe we should do it before testing anything.

[2022-07-26 12:35] MartinKolarik commented on #160
I'm ok with the message in your example, it's the best you can do with typos without attempting fuzzy matching. My problem was mostly with the `alternatives()` handling. In my example above, it says "type must be [http]" which is plain wrong since type has five possible values.

[2022-07-26 15:51] #83 closed

[2022-07-26 16:00] patrykcieszkowski commented on #120
heres the problem:
- server A manages X probes
- server B manages Y probes
- the load balancer redirects user to A or B
- at random, server A or B wouldnt respond to probe list query (pub/sub)

[2022-07-26 16:15] jimaek opened #176 "Architecture review"
Review how the current system works and we can improve to make sure it can scale to thousands of probes with hundreds of measurements requesting hundreds of tests per second.

Related issues:
- A random user took the system down with only a few hundreds of tests according to appsignal https://github.com/jsdelivr/globalping/issues/132
- He actually got 60+ probes of ours to get stuck forever by sen

[2022-07-26 17:31] jimaek opened #177 "Version check"
Why is it so strict? All it needs to check that the breaking change was at 0.9 and force upgrade anything below and ignore anything above

[2022-07-26 17:34] MartinKolarik commented on #177
@patrykcieszkowski I think we can do `>= 0.9.0`

[2022-07-26 17:35] MartinKolarik opened #178 "Fix logging"
The meta argument isn't in the output right now.

[2022-07-26 17:57] jimaek commented on #127
Everything was merged and deployed. You can now all test again MTR and maybe even the rest of the commands too to make sure the latest changes didn't break anything.

[2022-07-26 18:01] MartinKolarik opened #179 "Update region names"
Missed part of #162, "southern america" should be "South America"

[2022-07-27 16:28] patrykcieszkowski commented on #177
I must be missing something. It does allow versions above to pass through.

[2022-07-27 16:35] patrykcieszkowski commented on #179
Why particularily `South`, not `Southern`?

[2022-07-27 16:38] jimaek commented on #179
That's the most popular name I think. But we can support both

[2022-07-27 16:40] patrykcieszkowski commented on #179
we match the region name based on country-code, so technically speaking we can name them whatever we want.

[2022-07-27 17:05] MartinKolarik commented on #179
I think "South" is the correct version of the two but didn't actually change that on purpose, it must have been Grammarly fixing that for me.

[2022-07-27 18:30] MartinKolarik commented on #177
Yes but only some. `^1.0.0` means `>= 1.0.0 and < 2.0.0` and with `0.x.x` versions, as is our case, `^0.9.0` means only `>= 0.9.0 and < 0.10.0`

What we want is quite simply "anything above"

[2022-07-27 22:15] #172 closed

[2022-07-28 03:12] ayuhito commented on #179
I threw it in a couple gazetteers and there's a clear distinction between South America and Southern America (which is in North America).

They don't mix really.

[2022-07-28 08:46] ayuhito commented on #163
I can give this a go if that's fine.

I was thinking I'll make a separate NPM package called normalise-location that updates itself every month with GH Actions and processes all the data to a usable format. That way we're not adding much more complexity here.

[2022-07-28 09:16] jimaek commented on #163
Why would we need frequent updates? Cities rarely change names. We should use an existing source that will minimize the maintenance needed on our side

[2022-07-28 09:28] ayuhito commented on #163
It'll be automated in the normalise-location repo and a "whatever" thing to update here like any other dep patch update. The data is fixed otherwise.

https://www.geonames.org/recent-changes.html - They do seem to regularly update their dataset daily (although almost all of it is not relevant), so I think a monthly automated GH Action to rerun the data processing scripts is all that's needed to ma

[2022-07-28 09:46] patrykcieszkowski commented on #179
I mean, South America is the continent, Southern America is more general, describing the region.

[2022-07-28 11:07] #177 closed

[2022-07-28 11:18] MartinKolarik commented on #179
Yes, but which region 😄 as @ayuhito points out, "Southern" is also used to refer to the South part of the US, which is an entirely different region.

[2022-07-28 11:41] patrykcieszkowski commented on #179
hm, ok

[2022-07-28 11:44] MartinKolarik commented on #179
But I'm not sure how the original list of regions was constructed. Specifically for South America, it seems there's no point in having it, since that's already a continent?

[2022-07-28 11:47] patrykcieszkowski commented on #179
`northern-europe`, `western-europe`, `eastern-europe` etc aren't seperate continents, and yet it might be useful to have a filter targeting them.

https://github.com/jsdelivr/globalping/blob/master/src/lib/location/regions.ts

[2022-07-28 11:52] ayuhito commented on #179
It feels a little arbitrary. What about matching Cloudflare if we want to have that much specificity? https://developers.cloudflare.com/load-balancing/reference/region-mapping-api/

Otherwise, we can have a broader set of regions matching the data center tab: https://www.cloudflare.com/network/

[2022-07-28 11:53] MartinKolarik commented on #179
Sure, I'm not questioning regions as a whole, just Southern America specifically. E.g. https://en.wikipedia.org/wiki/Northern_America is a used term with a clear definition, but the Southern version isn't, and for South, there's already a continent.

[2022-07-28 11:55] patrykcieszkowski commented on #179
Well, it is arbitrary. But I see no reason to rely on 3rd party API for such a simple mechanism.

[2022-07-28 11:57] patrykcieszkowski commented on #179
I'm out when it comes to geographical divagations. We can call it Latin America, South America, I really dont mind.

[2022-07-28 11:58] ayuhito commented on #179
I didn't mean use their API. I meant match their regions and region codes since it seems like a solid option of choices that cover most usecases with correct names.

[2022-07-28 12:01] MartinKolarik commented on #179
For now, let's do the pretty names and normalization, then we can discuss the actual list of options.

[2022-07-28 12:12] MartinKolarik commented on #163
@ayuhito let's try and see how it works.

[2022-07-28 12:12] patrykcieszkowski commented on #179
in terms of filter matching, do we want dash or space seperation for exact matches?

[2022-07-28 12:13] MartinKolarik commented on #179
As a user, I should write spaces, same as for cities (except magic mode).

[2022-07-28 12:14] MartinKolarik commented on #171
I think this was already covered by some PR, right @patrykcieszkowski ?

[2022-07-28 14:22] patrykcieszkowski commented on #171
yup, its already merged

https://github.com/jsdelivr/globalping/pull/173

[2022-07-28 14:23] #171 closed

[2022-07-28 16:51] MartinKolarik opened #185 "Incorrect probesCount reported"
[code]

=>

[code]

The actual `results` array only has 200 items.

[2022-07-28 16:53] MartinKolarik commented on #185
Actually in some cases, but not all, the results also have 201 items:

![image](https://user-images.githubusercontent.com/6192491/181594390-b0665b0b-e2e9-4629-9c3e-602697b2548d.png)

[2022-07-28 17:17] patrykcieszkowski commented on #178
It isn't, but I'm not convinced it should. We should probably attach whatever is necessary to render within the error message.

[code]

[2022-07-28 17:19] MartinKolarik commented on #178
If that's the output we'd get, then it should - that's exactly what's necessary.

[2022-07-28 17:21] patrykcieszkowski commented on #178
Then why even bother formatting the message, why aren't we printing plain json?

[2022-07-28 17:22] jimaek commented on #178
Just a reminder that logging logic and formatting will probably change when we choose an APM with log streaming and context matching

[2022-07-28 17:23] MartinKolarik commented on #178
What I usually do is a short message to identify/categorize the error and then all relevant context as an object, so this mostly matches it.

[2022-07-28 17:26] patrykcieszkowski commented on #178
this would be way better
[code]

[2022-07-28 17:28] MartinKolarik commented on #178
I don't like full JSON output and even wrote a custom logger we use in all other projects, focused on pretty printing errors and metadata 😄 the logs to stdout should be readable for humans. For machine processing, there should be independent transport in whatever format the service wants.

[2022-07-28 17:29] patrykcieszkowski commented on #178
But if we mix text with JSON (my previous example), we gonna end up with equally unreadable format anyway.

[2022-07-28 17:31] MartinKolarik commented on #178
So if you wanted to dig into this more, I'd tell you to replace the logger, but right now I'm good with a quick fix of adding those fields. Later as @jimaek pointed out we'll set up a different APM and maybe overall change the logs setup too.

Can it be pretty printed maybe? But even if no, it's better than full json because you don't always care about the extra context.

[2022-07-28 17:32] patrykcieszkowski commented on #178
Adding them where?

[2022-07-28 17:32] MartinKolarik commented on #178
To the output, in whatever format is easiest.

[2022-07-28 17:39] patrykcieszkowski commented on #178
would this work?

[code]

[2022-07-28 17:40] patrykcieszkowski commented on #178
Except, we probably don't even need to pass `sources` to the error metadata.

[2022-07-28 17:43] MartinKolarik commented on #178
The issue we had after the last deploy is something where seeing `sources` in the output would give you an answer about what's wrong right away, instead of guessing.

Sure.

[2022-07-28 17:47] patrykcieszkowski commented on #178
what if we were to shorten the `sources` object to the fields the query was working on?

[code]

[2022-07-28 17:53] MartinKolarik commented on #178
Then already it wouldn't be useful in the previous case. You'd see `normalizedCity` is missing but wouldn't know if that's because the city/location wasn't resolved at all or some other bug. I know it looks verbose but you never really know in advance what detail will help you find the next bug.

[2022-07-28 18:13] #178 closed

[2022-07-28 19:09] patrykcieszkowski opened #187 "normalize user-input for location filters"

[2022-07-29 10:02] #127 closed

[2022-07-29 12:40] patrykcieszkowski commented on #185
The `probesCount` value is the length of the array holding selected probes.

But the bug in itself is interesting. I can't replicate it on limits lower than `200`. In fact, setting the limit to `300` also works fine. It only seems to be happening on rage 200-240.

And I can't replicate it by testing the probe router.

[2022-07-29 12:43] patrykcieszkowski commented on #176
We should probably replace the timeout logic, I can't imagine it would scale well.

https://github.com/jsdelivr/globalping/blob/master/src/measurement/runner.ts#L91

[2022-07-29 12:44] MartinKolarik commented on #185
In the first case, I got `201` in the POST response. There, you don't have the array, so can't compare. But the final measurement had `200` results. In the second case, both were 201.

[2022-07-29 12:47] patrykcieszkowski commented on #185
Result's aren't guaranteed. There are some probes which constantly reconnect due to their distance, and I suspect that might be causing the issue where the final result count didn't meet the count of initially assigned probes.

[2022-07-29 12:51] MartinKolarik commented on #176
Scale well in what sense? That actually seems quite ok (somewhat related, lru-cache uses a timer per key and it's ok https://github.com/isaacs/node-lru-cache/issues/208#issuecomment-1064354817).

[2022-07-29 12:56] MartinKolarik commented on #185
It could. Why 201 is still a question.

[2022-07-29 13:00] patrykcieszkowski commented on #176
It spawns an internal timer per every measurement, and holds them locally. If the API goes down, the timer is gone, and the status is never marked as `finished`, unless the result comes - which is not guaranteed.

A way better solution would be to have a global interval running per each API instance, and just query unresolved measurements older than X.

[2022-07-29 13:32] MartinKolarik commented on #176
Or a task queue for the measurements, which may very well be fallout from this task. We'll see.

[2022-07-29 13:47] MartinKolarik opened #188 "Handling of unresolved addresses and timeouts"
Traceroute:

[code]

Here the hostname failed to resolve, which is represented by `*` in the raw output. For the parsed output, it seems more reasonable to represent this with `null`. Otherwise, we need to document `*` as a special value, which we do for `private` IPs, but I don't see the point here - `private` really is a special case that needs a name because it's not just "empty" but here `null

[2022-07-29 13:52] #187 closed

[2022-07-29 13:53] patrykcieszkowski commented on #188
Nulls are terribly inconvinient to work with, and I'm not sure if that would be a good move from the UX perspective either.

[2022-07-29 13:56] MartinKolarik commented on #188
Are they now? I thought except the eslint configuration, we didn't have problems with them. And they have a clear meaning at least.

[2022-07-29 14:05] patrykcieszkowski commented on #188
It's not just eslint config, but the TypeScript on it's own. While defining a multi-type variable, you gotta double check its type whenever you do anything on it, even if you're convinced it's of certain type.

The issue with Eslint was the fact it doesn't lile `null`s. That can be turned off.

If we really wanna go that route, we might have to just implement a final-parse method and keep their ty

[2022-07-29 14:07] MartinKolarik commented on #188
But that's good, isn't it? If you are "convinced" it's either because there's a check earlier in the code, which TS should understand as well, e.g. `if (value !== null) { ... }` or you really should check.

[2022-07-29 14:10] MartinKolarik commented on #188
If you tell me it's always a string, I'll write something like ``new URL(http://`${resolvedHostname}`)`` and later be surprised that it throws in some cases because `resolvedHostname` isn't actually valid.

[2022-07-29 14:13] patrykcieszkowski commented on #188
How's that a good thing? That leads to an unnecessary mess in code.

The output of the `URL()` constructor is an object, TS won't accept it as a value. That's completely different.

[2022-07-29 14:19] MartinKolarik commented on #188
It's not about the `URL` returns but what it takes as an argument. The example wasn't very good because TS doesn't actually mind the null when it's part of the template string, but for `new URL(resolvedHostname)` it would complain with "Argument of type 'string | null' is not assignable to parameter of type 'string | URL'." and that's good. So yes the "mess" if by that you mean properly checking t

[2022-07-29 14:20] MartinKolarik commented on #188
But maybe more to the point. We agreed to use nulls in the MTR case and I belive that's even implemented now, isn't it?

[2022-07-29 14:27] patrykcieszkowski commented on #188
And the act of having to constantly check for the value is a mess and it's not a good thing. At all. You should avoid it if possible - having a single-type deals with it.

Like I said, the best way to deal with it would be to re-cast the result object when we output the value. That way we could avoic these conflicts.

We never agreed for it. I clearly said I don't like multi-type castings in that

[2022-07-29 14:46] MartinKolarik commented on #188
If your only concern is our own code, sure, I don't care much what type it is internally - we don't really do anything with the values. I care about the type being clear in the output.

[2022-07-29 14:50] MartinKolarik commented on #188
The issue is only about the JSON output and how other apps interact with it. What types do we use internally to generate that output - that's up to you.

[2022-07-29 15:07] MartinKolarik commented on #188
Also what do you think about the fields being there / not being there at all for errors?

[2022-07-31 10:05] jimaek opened #190 "Remove non-ascii symbols from API"
Reminder to follow up on the Slack discussion. I think everyone agrees it only creates problems and adds no value to have them.
Uppercase remains, and we can do normalization stuff to support better English names.

[2022-08-01 17:17] jimaek commented on #131
Another interesting option is https://pm2.io/
They charge per node process and I asked about the enterprise plan. But even the Plus version could be enough in theory.
The only question is how many process we plan to have if we migrate away from Heroku

[2022-08-01 20:12] jimaek commented on #53
measurement = a single POST requesting a number of tests to be made by setting the limit parameter
test = the command the probes process. A measurement with limit of 10 would result in 10 tests

My proposed limits are below. There is no real reasoning behind them, just what feels right, small enough to avoid abuse, but large enough to be useful and not run out in the middle of testing. Feel free t

[2022-08-01 21:27] patrykcieszkowski commented on #190
I'm pretty sure @ayuhito is working on a solution to replace `city` values with their englush alternatives, so that would deal with it.

[2022-08-01 21:38] patrykcieszkowski opened #192 "Refactor measurement store module"
Spawning new redis connection per measurement update is extremaly inefficient, with little to no benefit.

https://github.com/jsdelivr/globalping/blob/master/src/measurement/store.ts#L31

[2022-08-01 22:06] ayuhito commented on #190
We'll have to asciify it API side as some places don't have true English names e.g. České Budějovice

But it'll take care of situations where there are variants of the name which can't be simply converted to ascii e.g. Genève/Canton de Geneve -> Geneva.

I can work on this once the normaliser is done.

[2022-08-02 11:22] jimaek commented on #192
Seems relevant https://ably.com/blog/migrating-from-node-redis-to-ioredis

[2022-08-02 11:24] patrykcieszkowski commented on #192
Interesting. I'm working on benchmarks rn, so I guess it won't hurt testing it too.

[2022-08-02 16:06] ayuhito commented on #163
TLDR; Using Geonames is too inconsistent unless we get one of their premium vetted datasets imo.

Parsing through the db and choosing the best names for it relies on a [bunch of patterns](https://github.com/ayuhito/normalise-location/blob/main/scripts/strip-alt.ts#L47). You then build the records and filter out any name conflicts [here](https://github.com/ayuhito/normalise-location/blob/main/scrip

[2022-08-03 10:07] jimaek commented on #176
Btw in the review it probably also makes sense to account for the future scheduled tests feature. Where we would need a time series database to store continuous results of a single measurement. E.g. monitor the performance of DNS and CDN providers

Too many options in terms of DB as well

[2022-08-04 19:50] ayuhito opened #195 "Bindings Library"
This is a reminder for later once we've setup API tokens, but create a public bindings library `node-globalping` that allows users to programmatically call the API with the proper types.

I already have a little lib like this for the Slack/Discord bot I'm working on, so it'll mainly just be copy paste and clean up once we're ready for more active use by the public.

[2022-08-08 14:56] MartinKolarik commented on #163
Here it seems reasonable to use the primary name if English alt. isn't available.

Can you post a link to this record? I wanted to check how it looks but can't find this.

Again can't find the records that would cause this, but also not sure if it's relevant - the city is still NYC, and we don't go down to city districts.

[2022-08-08 16:52] ayuhito commented on #163
It does seem reasonable, but not according to Geonames as doing so will break the example for [Ceske Budejovice](https://www.geonames.org/3077915/okres-ceske-budejovice.html) to Ceske Budejovice District. We could slap a bandaid to replace any terms including District but it doesn't feel like a solid solution imo.

These records probably come from names being merged when one record takes precedenc

[2022-08-08 17:30] MartinKolarik commented on #163
Please give me clear examples/links to the geo records to understand in detail what causes the issues. So far the only thing I was able to verify is the missing EN alt name.

[2022-08-08 18:07] ayuhito commented on #163
I'll have to run the variations later this week since I never documented the results.

[2022-08-09 13:30] #192 closed

[2022-08-10 11:09] patrykcieszkowski commented on #160
I consider this issue resolved by now. Can't find any error message that wouldn't make much sense.

[2022-08-10 11:47] patrykcieszkowski commented on #131
I'm pretty sure pm2 is running in its own container, not sure if it can be executed on heroku.

[2022-08-10 11:48] jimaek commented on #131
I think it can, but we will migrate away from Heroku to containers anyway so its not a big problem

[2022-08-10 12:04] patrykcieszkowski commented on #185
@MartinKolarik can you recreate this issue now? I can't, neither on the prod server or on my localhost

[2022-08-10 12:57] patrykcieszkowski opened #198 "unhandled promise error after restart"
[code]

[2022-08-10 13:34] #188 closed

[2022-08-10 13:37] #160 closed

[2022-08-11 12:32] jimaek commented on #69
Example list of probes that are all detected as Los Angeles while ipinfo seems more accurate https://gist.github.com/jimaek/b3fcd57908cb15272dd2a375a4872f1f

But even in that case its wrong in many cases.

[2022-08-11 15:02] jimaek commented on #69
Another idea: Traceroute hops based geoip

1. The API or a micro-service will run a traceroute towards an IP. In our case a probe we dont know where is located
2. In most cases the traceroute hostnames contain airport codes of where each router is located.
3. By parsing the last 3-4 hostnames and looking for instances of airport codes in them we could in theory reliably guess the location of the p

[2022-08-13 15:26] jimaek opened #200 "Internal metrics collection"
For tasks like https://github.com/jsdelivr/globalping/issues/37 and many others we will need to know more about the probes.

Here is a list of data we would probably need to collect to build the next features:

- Accepted tests, in progress tests, finished tests, failed tests. Accepted/in progress probably just real-time value, while the rest are timeseries. Maybe even total and per type as well?

[2022-08-15 15:33] patrykcieszkowski commented on #200
How often would we collect CPU/mem stats? And how often would we pushe them to the API?

Also, how exactly do we define uptime? How long has the probe been connected, or what do we do if the probe reconnects?

[2022-08-15 15:34] patrykcieszkowski commented on #198
resolved with https://github.com/jsdelivr/globalping/pull/199

[2022-08-15 15:34] #198 closed

[2022-08-15 15:45] jimaek commented on #200
Ideally every few seconds, e.g. every 10s. The more accurate is the data the more we can later do with tests routing between probes. No local buffering, collect and push immediately.

Probably how long probe was connected unless there is a better metric. We can technically measure this both from a probe and the API. So in this case its probably better to collect this data on the API level?

If the

[2022-08-15 16:03] patrykcieszkowski commented on #200
@MartinKolarik any idea how to reasonably store this data? Ideally we would keep it all under a single record, but since we need older data to expire, we can't do that. I'm not convinced storing each measurement seperately is a good idea either. Maybe we could group them by 24hr periods, per key?

[code]

I'm not sure how to record uptime/downtime.

[2022-08-15 16:19] MartinKolarik commented on #200
Real-time-only can go into redis in whatever format... Historical data would depend on the selected storage, which likely won't be redis.

[2022-08-15 16:28] jimaek commented on #200
So to me it seems for now we need these real-time values:
- CPU load
- Available CPU cores
- In progress tests

Then we need to select a timeseries DB out of the 100 that exist now and start storing:
- Uptime per probe pushed by the API probably
- accepted tests/successful tests/failed tests

Since the real-time part only needs Redis we can implement that part first. @MartinKolarik what do you thi

[2022-08-15 16:32] MartinKolarik commented on #200
Yes I agree, implement the first part now using only redis as that's fairly straightforward. The other part I'd postpone until after #176.

[2022-08-15 19:47] ayuhito commented on #163
### Test Data
- Base case from my last experiment: [Code](https://github.com/ayuhito/normalise-location/tree/7f77bad8a0c5732825d5c916fb2d92ca28a9cd61) + [Tests](https://github.com/ayuhito/normalise-location/runs/7843956167?check_suite_focus=true)
- Remove overwrite check for final names mapped to users leads to better results: [Commit](https://github.com/ayuhito/normalise-location/commit/a34d30965

[2022-08-16 13:42] jimaek commented on #131
New interesting option https://github.com/apache/skywalking

[2022-08-17 11:22] patrykcieszkowski commented on #131
I appreciate the fact its opensource, but they don't seem to have tracer for node.

[2022-08-26 12:57] patrykcieszkowski opened #205 "dns: underscore char in target"
I've come across this issue yesterday, as I was renewing my certs.

Even though underscores aren't technically allowed in domain names, subdomains containing it are accepted by DNS servers, and are used for TXT fields. We don't. An example:

[code]

Will fail the validation step:
[code]

But DIG has no problem querying this path:
[code]

[2022-08-26 13:08] MartinKolarik commented on #205
This is actually a bug / poor naming in joi and it might affect other characters too. See the first two answers from https://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it for details and the relevant RFCs.

[2022-08-26 13:15] patrykcieszkowski commented on #205
interesting. So I guess we'll have to to come up with our own domain validator

[2022-08-26 13:28] MartinKolarik commented on #205
Or open an issue at Joi first and explain the details. I only found one from the past and nobody there really had any solid arguments.

[2022-08-26 13:29] MartinKolarik commented on #205
If they didn't want to change the default behavior, adding a flag for this (there already are several for the domain check) would be acceptable.

[2022-08-26 15:47] jimaek commented on #163
Where are we with this? What are we waiting to proceed with https://github.com/jsdelivr/globalping/pull/194 ?

[2022-08-26 15:58] MartinKolarik commented on #163
Waiting on me to read the long comment above.

[2022-09-02 13:14] MartinKolarik commented on #205
PR: https://github.com/hapijs/address/pull/43

[2022-09-05 13:03] patrykcieszkowski commented on #205
It doesn't look like they'll acknowledge this PR anytime soon, and chances of them pushing it are pretty slim too. I pushed a replacement for Joi's domain validator. We can always revert it in the future.

https://github.com/jsdelivr/globalping/pull/207

[2022-09-06 12:50] ayuhito opened #208 "New error type values"
Following up on #202, I think having unique `type` values for every error is great for users that depend on the API programmatically.

Currently, `400 - no probes found` returns `"type": "api_error"` which is the same as the Internal Server Error type. Does `"type": "no_probes_found"` sound suitable?

I also think we should change the `422 - validation error` which returns `"type": "invalid_reques

[2022-09-06 13:33] patrykcieszkowski commented on #208
- `api_error` should be reserved for 5XX errors
- both `invalid_request_error` and `validation_error` mean pretty much the same thing. They're caused by user error. I don't mind either.
- I've mixed feelings when it comes to no probes error though. Is it really a user error? It should return `404` for sure.

[2022-09-06 13:51] patrykcieszkowski commented on #208
And since we can't expose server errors, it should stay generic.

[2022-09-06 15:06] patrykcieszkowski commented on #208
It's not, since we don't guarantee GEO availability - its not dependent on us.

[2022-09-06 15:13] MartinKolarik commented on #208
Yes, there's a small difference, but it's still the closest from the available options of status codes (also we do provide a list of all possible correct values at `/probes`).

[2022-09-06 15:27] MartinKolarik commented on #208
One alternative that somewhat makes sense: create the measurement as usual, with 0 probes and status: finished. It would match how we handle all other situations when some probes are found but not all.

E.g., right now, this is not an error and one of the locations get silently ignored (or should this be an error?):

[code]

[2022-09-06 15:39] patrykcieszkowski commented on #208
Yes, but they can disconnect at any time; just like they're unavailable soon after the API restart. Error 400 implies the body of the request was incorrect, while in reality it wasn't. But I admit, that probably wouldn't be a big issue since we describe the error.

The code 404 doesn't mean the URL was not found, but rather it indicates the resource was unavailable. In our case - Locations are the

[2022-09-06 15:46] MartinKolarik commented on #208
not find a current representation for the **target resource** or is not
   willing to disclose that one exists.

That resource is `/v1/measurements`, and returning 404 would indicate the whole collection of measurements doesn't exist. It isn't related to the payload.

[2022-09-06 15:52] MartinKolarik commented on #208
I'm not entirely sure yet as well, but we can IMO look at this from two perspectives.

1. The client is responsible for choosing the correct locations. It has the means to do so (ignoring probe disconnects as an edge case). In this case, wrong locations receive 422, the description of which matches exactly the condition "Unprocessable Entity"

2. The client indicates what locations it wants, and t

[2022-09-06 15:56] patrykcieszkowski commented on #208
Only if you strictly follow the classic CURD methodology. Which GlobalPing doesn't - if it did, the location would be contained as part of the URL. That's why POST requests aren't cached by default too, btw.

[2022-09-06 16:01] MartinKolarik commented on #208
No, it's how that term is used in the whole RFC. There's even a section on this in 7230:

[5.1](https://www.rfc-editor.org/rfc/rfc7230#section-5.1).  Identifying a Target Resource

[code]

404 is imply not suitable here.

[2022-09-06 16:06] MartinKolarik commented on #208
Also, note that 404 is a "user error" just as much as any other 4xx code. If we went with "wrong location is not a user error" logic, we would have to discuss either 5xx options (server errors) or 2xx (no errors at all).

[2022-09-06 16:28] patrykcieszkowski commented on #208
And HTTP was designed with CRUD actions in mind. The section you've quoted clearly states, the URI is **typically** used as the target resource, implying that's not always the case. Again, if we were to strictly follow RFC - we would make users to send a POST request to the location builder resource, and use the returned hash/id (resource) as part of the URI for the actual measurement request. Or

[2022-09-06 16:37] MartinKolarik commented on #208
400/422 are both not only about formatting but also about semantics, which is why I consider them acceptable. A 200 might be the cleanest, and I'd be ok with it, but 422 allows us to better explain what happens, which I think makes it better in practice.

[2022-09-13 12:07] #205 closed

[2022-09-13 16:32] jimaek opened #209 "RUM data"
On top of the passive synthetic data we will collect using the probes it seems there is a huge need for RUM data as well. The idea is that you use RUM as a summary/overview and then switch to probes data for comparison and then to active tests to actually understand why something is happening.

And instead of collecting our own RUM data it seems there are many companies out there collecting their

[2022-09-14 12:29] patrykcieszkowski commented on #209
RUM data is data on how user interacts with the website. I'm not sure what useful data could we gather from Globalping. Unless I'm missing something.

[2022-09-14 12:47] jimaek commented on #209
RUM data can monitor the performance of all CDNs globally. I've built similar stuff in the past. The only problem is analyzing billions of data points on cheap servers

[2022-09-14 12:58] patrykcieszkowski commented on #209
This example is pretty straight forward, store total timings and full URI of all HTTP requests, in another table store total values for specific geo + URI. Run a cronjob every 10mins and calculate the sum, avg, [...] for recent URIs. No need to analyze it in real time.

[2022-09-27 13:13] jimaek opened #210 "API testing service"
Lets consider using something like https://stepci.com/ to ensure that new PRs dont break the API.

[2022-09-27 13:41] MartinKolarik commented on #210
That should be already covered by the tests we have but after #168 we might look into testing the API based on the yaml spec.

[2022-09-30 16:25] jimaek commented on #131
New Relic added ESM it seems https://github.com/newrelic/node-newrelic/releases/tag/v9.1.0

[2022-10-02 20:51] #190 closed

[2022-10-02 21:30] MartinKolarik commented on #176
Current status:

1. Probe performance:
1.1 Very good and can be further improved for HTTP tests (https://github.com/jsdelivr/globalping-probe/issues/100)
1.2 Not so good but acceptable for now for other tests. Improving it not so easy (pool of processes, which requires support to run the tools in interactive mode or implementing them directly in node, which wouldn't work for all our config options

[2022-10-02 22:00] MartinKolarik commented on #124
Not sure how relevant this still is.

[2022-10-03 07:59] jimaek commented on #124
It is and a lot. We just need to setup proper logging first to see all the problems

[2022-10-04 07:26] alexey-yarmosh commented on #176
My current plan is to focus on the API first:
1. Reproduce the API issue (https://github.com/jsdelivr/globalping/issues/132) on the env.
2. Try to reproduce the same issue locally.
3. Address https://github.com/jsdelivr/globalping/issues/131 so we will be able to analyze the behavior and find the possible solution.
4. Try to find the bottleneck and a possible fix.

[2022-10-04 21:59] MartinKolarik commented on #176
One more related problem that I don't think we documented anywhere yet. We store test results for 7 days but have nowhere near the HW to actually do that with the real usage because the redis instance only has 100 MB of memory. Of course, we'll move to a higher plan, but even then, it's questionable - how many results can we roughly fit into a 16/32/64 GB memory server, and is that enough for a fu

[2022-10-05 12:15] alexey-yarmosh commented on #176
As far as I see, we are storing active probes info in a node process memory.

Anyway I got the idea, I'll create an issue for that.

[2022-10-05 12:19] jimaek commented on #176
Note that we can and probably should lower the storage of tests based on user level. E.g. anons store for 12 hours, free registered 24 hours, sponsors 7 days

[2022-10-05 20:27] alexey-yarmosh opened #211 "Define TTL of measurement per user type"
We store test results for 7 days but have nowhere near the HW to actually do that with the real usage because the redis instance only has 100 MB of memory. Of course, we'll move to a higher plan, but even then, it's questionable - how many results can we roughly fit into a 16/32/64 GB memory server, and is that enough for a full week?

Required answers:
- what is the average size of a single measu

[2022-10-05 20:35] alexey-yarmosh opened #212 "Empty results of some probes"
Sometimes some of the probes of the `finished` measurements have result fields. Maybe data is not sent by the probe or API didn't handle it properly. We need to adress it.

Steps to reproduce (may not reproduce every time):
- send measurement request with the body
[code]
- wait until measurement `status` is `finished`
- check all the `result` fields
Expected value:
some valid result data
Actual va

[2022-10-05 20:53] alexey-yarmosh opened #213 "Bad parsing in case of 100% loss ping requests"
If `ping` request showed 100% packet loss fields like `resolvedAdress` and some others shouldn't be null.

Steps to reproduce (may not reproduce every time):
- send measurement request with the body
[code]
- wait until measurement `status` is `finished`
- check all the `result` fields
Expected value:
at least `resolvedAdress` field is fulfilled
Actual value:
<img width="1038" alt="image (1)" src="

[2022-10-05 22:58] patrykcieszkowski commented on #213
Timeout is treated as an error, and generally speaking we didn't expect them to come with any meaningful data. You can't rely on exit codes, nor `stderr`, since `unbuffer` squashes everything into `stdout`. Your best bet will be detecting a non-standard response pattern, and excluding it from data parsing, but letting anything else through.

https://github.com/jsdelivr/globalping-probe/blob/master

[2022-10-06 08:06] jimaek commented on #211
Adding that we need to lower the TTL for some tests and partially solve this problem.
- anon users - 3 hours?
- free users with API key - 12 hours?
- sponsored users - 3-7 days?

[2022-10-06 13:33] MartinKolarik commented on #213
This makes sense for node-level timeout but what's in the screenshot seems like a valid measurement result so the resolved fields should be there.

[2022-10-06 13:37] jimaek commented on #212
The question is why it timed out. Our current probes should be reliable enough to work. If you give me some probes I can try to pull the local logs.

We probably need a status field to clearly mark what happened in each result. Did the whole probe time out because of bad internet, meaning the target endpoint is not at fault, did it time out because of an exception in which case we need to fix it,

[2022-10-06 13:44] alexey-yarmosh commented on #132
In the current configuration (heroku Standard-2X, 1GB RAM) API is able to handle 1 measurement RPS with such body:
[code]
If we increase either RPS or `limit` field value API will go down in a few minutes with a lack of memory:
[code]
We should take into account that 1 measurement request starts a `limit` number of requests to/from probes that itself generates messages for `ack`, `progress` and `r

[2022-10-06 13:47] jimaek commented on #132
Real time output is a critical feature and we can't remove it or make it look delayed

[2022-10-06 13:53] patrykcieszkowski commented on #212
no. A measurement timeout is handled by the server, and the server doesn't include any other value than `rawOutput`.

[2022-10-06 14:04] MartinKolarik commented on #132
At the very least, we'll need to consider throttling it as previously discussed via Skype (summary in https://github.com/jsdelivr/globalping/issues/176#issuecomment-1264737350).

[2022-10-06 14:14] jimaek commented on #132
Lowering the frequency a bit is possible, but I want it to be clear that real-time must stay and look like real-time :)

[2022-10-06 14:27] alexey-yarmosh commented on #132
Throttling may help a bit. In the meantime for 500 probes it is hard for me to imagine a use case when someone needs so many live updates simultaneously. Probably only for 1 probe if I am building some kind of a user interface (chat bot, etc.).
Maybe we can find a balance in the requested number of probes? And either update them live or at the end.

[2022-10-06 14:31] MartinKolarik commented on #132
That's definitely an interesting POV. Sending realtime updates from 10 probes and only the final result from the remaining 490 would still make it look realtime and reduce the load considerably.

[2022-10-06 14:32] jimaek commented on #132
It doesn't matter if it's 500 per request or 100 users run 5 tests at the same time. The system should be able to handle thousands of users running thousands of tests. Some will be small from CLI, others script based running batch jobs...

[2022-10-06 14:35] MartinKolarik commented on #132
We could also leave it up to the user to enable/disable real-time updates and set higher credit costs if enabled. As @alexey-yarmosh points out, in many use cases, they won't be needed/used anyway.

[2022-10-06 15:14] jimaek commented on #132
No, thats just bad UX. The system must be real-time regardless of who is asking what. And your solution would not be helpful at all in most cases where we have 1000 users asking for 1-10 tests where real-time is critical.

[2022-10-13 14:11] alexey-yarmosh commented on #132
Hey, so based on profiling and observing app locally I can say that API’s event loop is not very busy during high load. Most of the time it just waits for delegated to CPU activities to finish. I am pretty sure that the main bottleneck of the API is not socket.io messages but thousands of subsequent redis writes. I think redis pipeline should help us a lot, so I’ll try to implement POC and analyze

[2022-10-18 09:34] alexey-yarmosh commented on #211
Average size of a measurement depending on the probes count:
| Number of probes in a measurement | Required mem in Redis | Required mem in node process |
|-----------------------------------|-----------------------|------------------------------|
| 1                                 | 2.7 KB                | 5.1 KB                       |
| 10                                | 23.7 KB

[2022-10-21 17:29] jimaek opened #216 "Optimize dockerfile"
- remove dev
- prod only
- hardcode port to 8080?
- other?

[2022-10-22 11:40] jimaek commented on #176
Plan so far for new prod:
- 2 dedi servers with 8 threads + 64GB RAM
- Managed by docker swarm https://github.com/jsdelivr/globalping/blob/master/compose-stack.yml
- Separate dedi or VM for Redis. Mem size to be decided but probably 64GB
- No new components introduced

To do to support the new prod:
- Avoid using CDN and install SSL on a node.js level with auto-updates from letsencrypt
- Fix multi

[2022-10-28 07:45] mishushakov commented on #210
Hey
We have pushed some cool updates, such as Performance Testing, OpenAPI Import and gRPC support since the issue was opened

Maybe you could take a fresh look on [our website](https://stepci.com)?

Let me know if you have any questions or need any help! I'd be glad to support!
Thanks

[2022-10-30 13:26] jimaek opened #217 "node18"
- New LTS
- uwebsocket team says it has much better sockets performance
- Also upgrade all packages we use to latest (with local testing of course)

[2022-10-31 17:08] alexey-yarmosh commented on #131
With #218 we get:
- logs in context with APM
- traces
- paths from koa package
- existing charts are implemented in my account, I can copy them anytime. Also it will be nice to add a chart to track disconnects/reconnects
What can be done:
- ws web transactions can be added, but now I can't define proper usecase for the ws flow tracking

[2022-11-02 14:55] jimaek opened #219 "Drop ipv6 data from ipv4 capable probes"
[code]

Drop the `::ffff:` part and connect the probes over ipv4 as normal

https://stackoverflow.com/questions/29411551/express-js-req-ip-is-returning-ffff127-0-0-1

[2022-11-02 14:57] #131 closed

[2022-11-03 14:20] jimaek opened #221 "Automated perf testing"
We should have a Github action that can test every pull request for performance and ensure there is no degradation between master and branch.

[2022-11-03 15:34] #219 closed

[2022-11-07 13:16] alexey-yarmosh opened #224 "Use multiple cores by the API"
Currently we have a 4 cores CPU.
Node effectively uses only one of them.
We should consider options to load idle cores: cluster, worker_threads, etc.

<img width="420" alt="image" src="https://user-images.githubusercontent.com/16905445/200317917-d267997c-a8a0-4cbb-84e8-c515986e68af.png">

[2022-11-07 14:51] alexey-yarmosh commented on #132
Results of perf measurements with redis cloud and redis hosted on vps (4 cores, 16GB RAM, 4GB redis):
| Measurement | median T cloud redis | max T cloud redis | median T vps redis | max T vps redis |
| --- | --- | --- | --- | --- |
| 10-probes-20-rps-240-duration | 66  | 105 | 8.9 | 40  |
| 10-probes-60-rps-240-duration | 74.4 | 173 | 7.9 | 64  |
| 10-probes-70-rps-240-duration | 76  | 200 | 7   |

[2022-11-07 15:11] jimaek commented on #132
Redis is single threaded anyway. I have enabled some fake multi-threading options in my config but I dont expect a lot of difference, you can try using it.
Also when delays happen, is the RAM maxed out? Is it delayed because Redis tries to expire data first?

[2022-11-07 15:21] alexey-yarmosh commented on #132
I don't have such info. We can run New Relic agent for redis to get the info, or try with another redis memory size.

And do we have plans or thoughts of having several redis instances? E.g. we can have 1 instance for APIs pub/sub (common for all APIs) and then 3 others to store the measurements (divided by APIs).

[2022-11-07 15:58] jimaek commented on #132
Note for myself, the above tests are from a hetzner cloud shared cpu vps CX41. Here is a single threaded benchmark on the same server.

[code]

Ideally the prod Redis server needs to have better single threaded performance

[2022-11-07 23:31] MartinKolarik commented on #132
Definitely an option, I already mentioned it somewhere. If the redis CPU is the bottleneck, we can use various sharding strategies, even multiple redis instances for a single app instance.

[2022-11-09 10:36] #132 closed

[2022-11-09 10:45] jimaek opened #225 "Probe updates review"
Since this task https://github.com/jsdelivr/globalping/issues/176 is getting a bit too big and confusing I moved out this specific idea for review later. That task will close with the migration to new infrastructure and further perf optimizations can be done in different tasks.

[2022-11-09 11:08] patrykcieszkowski commented on #224
I'm not seeing the core usage on this screenshot, but generally speaking there's no benefit to using worker_threads for I/O operations, and that's 90% (if not more) of what this API service is doing. I would say you should consider spawning new threads for CPU intensive work, like hashing, encryption or parsing and leave I/O operations with the main Event Loop.

[2022-11-09 13:45] alexey-yarmosh commented on #120
Hey @patrykcieszkowski, I am trying to address that issue and Dmitriy told me that you had a script to get a list of probes from the specific node instance/process. Could you share it please? If you don't mind.

Also, if you have any info on how the issue can be steadily reproduced, that would be very helpful. Thanks!

[2022-11-09 16:47] jimaek opened #226 "Redirect globalping.io"
Setup a non-CDN redirect for globalping.io/* to jsdelivr.com/globalping

[2022-11-09 17:53] jimaek opened #228 "Healthcheck endpoint"
- Add /health endpoint with 200 status and text "Alive". "Alive" should only appear after the API has finished bootstrapping.
- Listen for SIGTERM triggers. It will be triggered by Docker doing redeployments
- When received change text to "Received SIGTERM, shutting down"
- Start timer of 15 seconds
- During this period disconnect any probe trying to connect.
- After 15 seconds gracefully exit the

[2022-11-09 17:55] jimaek opened #229 "Review timeout logic"
https://github.com/jsdelivr/globalping/issues/176#issuecomment-1199235237

[2022-11-09 17:55] #176 closed

[2022-11-09 17:57] jimaek commented on #95
Moved to https://github.com/jsdelivr/globalping/issues/228

[2022-11-09 17:57] #95 closed

[2022-11-09 18:39] jimaek commented on #211
- New Redis will be 64GB
- Unassigned until we have the logic for API keys

[2022-11-10 09:01] alexey-yarmosh commented on #224
`worker_threads` is only one of the ideas to consider. Key here is running 4 API instances on a 4 cores machine to increase the I/O throughput, and that most likely should be done either by node `cluster`, or on the high level - by docker swarm.

[2022-11-10 10:29] jimaek commented on #224
Not possible, we use host networking, meaning only 1 container can run at any moment on a VM. Also it would probably increase pub-sub traffic and make syncing of probes more difficult. So ideally we want to only move specific operations to other threads and not run the whole API per thread.

[2022-11-10 13:11] alexey-yarmosh commented on #224
we don't have intensive sync work to move from main thread. So when 2 VMs will not be enough we should choose between adding new VMs or running per thread.

[2022-11-10 14:35] MartinKolarik commented on #224
`cluster` seems like the right thing to do, just needs to check how the messages are routed. We want them always delivered only to one client, not all clients.

[2022-11-10 17:36] jimaek opened #231 "Update tests to catch cjs compilation errors"
https://github.com/jsdelivr/globalping/pull/230

[2022-11-11 08:22] alexey-yarmosh commented on #231
That is related to error prone ts compilation of .cjs files. More info here:
https://github.com/microsoft/TypeScript/issues/50647

Probably we can add a simple test to verify that compiled code is able to run.
Also, we should consider options to overcome the issues ourselves, so we are not stuck on ts v4.7.

[2022-11-12 18:24] patrykcieszkowski commented on #120
I don't recall writing such a script, but it should be as simple as adding a node identifier k/v to the probe data.

https://github.com/jsdelivr/globalping/blob/master/src/probe/builder.ts#L90-L105
https://github.com/jsdelivr/globalping/blob/master/src/probe/route/get-probes.ts#L16-L33

I also never figured out how to consistently replicate that issue. In fact, it never happened on my local networ

[2022-11-14 15:18] alexey-yarmosh commented on #228
socket.io solves that problem https://socket.io/docs/v4/client-offline-behavior/
I've tested it behind the local haproxy:
- with 1 API instance - when killing API in the middle of the measurement, probes are waiting until it is up again to reconnect. After that they send all remaining measurement messages. No data loss.
- with 2 APIs behind the proxy - when killing API1 in the middle of the measur

[2022-11-15 15:47] #228 closed

[2022-11-15 17:42] jimaek commented on #132
@alexey-yarmosh please do another benchmark of api.globalping.io similar to https://github.com/jsdelivr/globalping/issues/132#issuecomment-1305728479 to have the data of the new prod vs old in case we need it in the future

[2022-11-16 11:44] #226 closed

[2022-11-16 16:06] alexey-yarmosh commented on #132
Updated the table with the values after migration:
https://github.com/jsdelivr/globalping/issues/132#issuecomment-1305728479

[2022-11-16 18:20] jimaek opened #234 "timeout reached while waiting for fetchSockets response"
[code]

[2022-11-17 00:22] patrykcieszkowski commented on #234
These two issues are related:
https://github.com/jsdelivr/globalping/issues/120

[2022-11-17 16:56] jimaek opened #236 "System tags"
It was part of https://github.com/jsdelivr/globalping/issues/153 but now there is an urgent use case that requires this.

Specifically this part:

The goal at the moment is to tag specific probes that I control with custom tags per probe. I have servers with both AWS and Google Cloud and I need to tag each probe with the "cloud region name", e.g. "eu-west-1", "us-east-2"...

This way a user can th

[2022-11-17 16:59] jimaek commented on #236
A potential idea is to keep things ephemeral and add cloud specific code that would automatically detect if a probe is running on AWS or GCP and add extra metadata. e.g. https://stackoverflow.com/questions/4249488/find-region-from-within-an-ec2-instance

This way we dont need to use a DB at all until we're ready to start the epic.

[2022-11-17 18:05] alexey-yarmosh opened #237 "Probes are distributed very unevenly between the API instances"
VMs should divide connected probes, which is not true now:

<img width="1420" alt="image" src="https://user-images.githubusercontent.com/16905445/202520015-43a5d6f1-b563-411d-97dd-41217150b33c.png">

During deployment, VMs are launched one by one. When first VM starts all probes connect to it, then, when the second VM comes back online all probes are already connected to the first one and have no

[2022-11-18 15:38] MartinKolarik commented on #237
Seems reasonable.

[2022-11-18 15:42] patrykcieszkowski commented on #237
Won't probes be unavailable while they reconnect? It might be a good idea to randomise the delay between these reconnect requests, so they won't be all disconnected at once.

[2022-11-20 11:51] jimaek commented on #236
@MartinKolarik I think the above automated idea will be the best since it will allow us to re-use AWS/GCP probes hosted by other users. Can you confirm a final API format for tags to avoid any breaking future changes? It would combine ephemeral tags as described above, manual system tags set by admin stored in a DB and identified by IP, and user set tags also set in DB and identified by IP.

After

[2022-11-20 16:53] jimaek commented on #236
@alexey-yarmosh We agreed on the above ephemeral tags format and logic as first step. Please read through and let me know what you think

[2022-11-21 10:33] alexey-yarmosh commented on #236
It seems simpler and safer to determine region by API based on the ip of a probe. Maybe that will suit us?
https://stackoverflow.com/a/45441923
https://cloud.google.com/compute/docs/faq#find_ip_range

[2022-11-21 11:47] alexey-yarmosh opened #240 "High number of redis commands per second"
New Relic redis agent shows too many "commands per second":

E.g. 100 seconds, 1 RPS, 100 probes. Based on code analysis it should be:
[code]
At the same time redis agent shows ~4000 commands per second:
<img width="823" alt="image" src="https://user-images.githubusercontent.com/16905445/203042950-271c3f01-ef19-4409-a92d-513f12a9ed43.png">

At the same time redis is also used as adapter for socket

[2022-11-21 12:07] jimaek commented on #236
So the API would download the IP lists same way it downloads blacklists on every start and then check the connecting IPs against them? I guess that sounds indeed simpler

[2022-11-21 12:41] MartinKolarik commented on #236
I thought about reverse DNS lookups as well as the regions are in the hostnames too but I remember some thread on Twitter when @jimaek discussed this as an option for geo-locating the probes, and someone mentioned the IPs get reassigned across regions.

[2022-11-21 13:12] jimaek commented on #236
If we use official IP list API endpoints I would assume they are correct and updated

https://ip-ranges.amazonaws.com/ip-ranges.json
https://www.gstatic.com/ipranges/cloud.json

[2022-11-21 13:27] MartinKolarik commented on #236
I see, ok, that looks good.

[2022-11-25 13:02] #237 closed

[2022-11-27 14:51] jimaek opened #243 "ICMP blocked probes"
Some probes can be on a network that blocks ICMP.
Ideally we need to tag them internally and use it as a deciding factor during test routing.
Meaning if a user asks to ping with ICMP the API should not even consider the icmp-blocked probes. But it would still use them if a TCP ping was ordered

[2022-11-28 15:22] alexey-yarmosh commented on #234
The error is from `redis-adapter` module. It has a default 5000 ms timeout for operations. Every fetchSockets operation talks to redis. Under high load, during which redis operations tooks seconds or even minutes, fetchSockets tooks too long and we see "timeout reached while waiting for fetchSockets response" in the logs. 500 Internal Server Error is sent to user.

Possible solutions are increase

[2022-11-30 08:44] alexey-yarmosh commented on #120
I was constantly requesting /probes endpoint from both APIs and what I am observing is:
- under usual load diff between responses may be ~1-2 probes, because some probes are constantly reconnecting (IP limit). Current fetchSockets adapter firstly gets local probes, then asks to get remote ones. While awaiting for remote, some local probes may disconnect, but we already got the list - that is why u